.tml-gitem-print{
	background: #00AA00;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red.short-problem{
	background: #e595ff !important;
	border-color: #e595ff !important;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red.problem-exclusion{
	background: #999999 !important;
	border-color: #666666 !important;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem-yellow.exceeded_transition{
	background: #f0c52f !important;
	border-color: #f0c52f !important;
}
