<?php
$current_page = trim(urldecode($_GET['current_page']),'/');
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php }
    if(preg_match('/.*dashboards\/inner.*/i',trim($current_page,'/'))){ ?>
    jQuery('.nav.nav-tabs').append('<li role="presentation"><a href="#kggroupShiftsReportForm" aria-controls="kggroupShiftsReportForm" role="tab" data-toggle="tab"><?php echo __('Pamaininė PDF ataskaita'); ?></a></li>');
    let kggroupShiftsReportForm = jQuery('#two').clone();
    kggroupShiftsReportForm.find('form').attr('action', '/kggroup/reports/generate_shifts_report_pdf');
    kggroupShiftsReportForm.find('#trans_start_end_date').closest('.row').remove();
    kggroupShiftsReportForm.find('#form_type').val('Pamaininė darbo centro PDF ataskaita');
    kggroupShiftsReportForm.find('form').prepend('<input type="hidden" value="pdf" name="data[extension]" />');
    kggroupShiftsReportForm.find('form').prepend('<input type="hidden" name="data[time_pattern]" class="time_pattern" value="0">');
    jQuery('.tab-content').append('<div role="tabpanel" class="tab-pane" id="kggroupShiftsReportForm">'+kggroupShiftsReportForm.html()+'</div>');

    
<?php }; ?>