<?php
$current_page = trim(urldecode($_GET['current_page']),'/');
fb($current_page);
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php }
    if(preg_match('/.*dashboards\/inner.*/i',trim($current_page,'/'))){ ?>
    jQuery('.nav.nav-tabs').append('<li role="presentation"><a href="#adaxOrdersReportForm" aria-controls="revisesReportForm" role="tab" data-toggle="tab"><?php echo __('Užsakymų ataskaita'); ?></a></li>');
    let adaxOrdersReportForm = jQuery('#four').clone();
    adaxOrdersReportForm.find('form').attr('action', '/adax/reports/generate_orders_report');
    adaxOrdersReportForm.find('.view_angle,.add-subscription').remove();
    jQuery('.tab-content').append('<div role="tabpanel" class="tab-pane" id="adaxOrdersReportForm">'+adaxOrdersReportForm.html()+'</div>');
<?php }; ?>