.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red.problem-exclusion{
	background-color: #999 !important;
	border: 1px solid #999;
}
#declareQuantitiesBlock,
#declareQuantitiesBlockOnFinish{
	display: none;
}
