<?php echo $this->Form->create($model, array('url' => $formUrl, 'autocomplete' => 'off')); ?>
<?php echo $this->Form->input('id', array('div' => null, 'label' => null, 'type' => 'hidden')); ?>
<?php echo $this->element('HanzasMaiznica.ApprovedOrderTable', array('relatedPostponedOrders'=>$rpo,'item' => $item, 'lossItems' => $lossItems, 'boldLabels' => true)); ?>
<?php if ($item[ApprovedOrder::NAME]['confirmed'] || ($item[ApprovedOrder::NAME]['status_id'] != ApprovedOrder::STATE_COMPLETE && $item[ApprovedOrder::NAME]['status_id'] != ApprovedOrder::STATE_POSTPHONED && $item[ApprovedOrder::NAME]['status_id'] != ApprovedOrder::STATE_PART_COMPLETE)): ?>
<?php if(isset($item[ApprovedOrder::NAME]['modified']) && $item[ApprovedOrder::NAME]['modified'] != $item[ApprovedOrder::NAME]['created'] && (int)$item[ApprovedOrder::NAME]['modified'] != 0){
	echo __('Patvirtinimas atliktas').':'.$item[ApprovedOrder::NAME]['modified'];
} ?>
<div class="form-group">
	<label>
        <?php if($item['Sensor']['type'] == 1) : ?>
            <?php echo __('Kubilų kiekis').($item[ApprovedOrder::NAME]['confirmed'] ? (' ('.__('patvirtintas').')') : ''); ?>:
            <?php echo round($item[ApprovedOrder::NAME]['confirmed_quantity'],2); ?>
        <?php else: ?>
            <?php echo __('Dėžių kiekis').($item[ApprovedOrder::NAME]['confirmed'] ? (' ('.__('patvirtintas').')') : ''); ?>:
            <?php
                $bq = ($item[Plan::NAME]['box_quantity'] ? floor($item[ApprovedOrder::NAME]['confirmed_quantity']/$item[Plan::NAME]['box_quantity']) : 0);
                $pq = ($item[ApprovedOrder::NAME]['confirmed_quantity'] - ($bq * $item[Plan::NAME]['box_quantity']));
                echo $bq.(($pq > 0) ? (' '.__('ir gaminių').' '.$pq.' '.__('vnt')) : '');
            ?>
            <br />
            <?php echo __('Vienetų kiekis').($item[ApprovedOrder::NAME]['confirmed'] ? (' ('.__('patvirtintas').')') : ''); ?>: <?php echo (float)$item[ApprovedOrder::NAME]['confirmed_quantity']; ?>
        <?php endif; ?>
    </label>
	<span></span>
</div>
<?php else: ?>
<div class="row-fluid" style="margin: 0px -15px 0px -15px; <?php if(!$edit_approved_order_quantities) echo "display:none;"; ?>">
    <div class="col-xs-5">
        <?php
        if($item['Sensor']['type'] == 1) {
            $pqt = ($item[ApprovedOrder::NAME]['quantity'] - ($item[ApprovedOrder::NAME]['box_quantity'] * $item[Plan::NAME]['box_quantity']));
            //$finished_boxes = $item[ApprovedOrder::NAME]['quantity'];
            //$finished_boxes = $item['Plan']['yield'] != 0 ? bcmul($item['ApprovedOrder']['quantity'], bcdiv($item['Plan']['qty_1'], $item['Plan']['yield'],8),2):$item[ApprovedOrder::NAME]['quantity'];
            $suggestedQuantity = is_array($partialQuantities) && !empty($partialQuantities)?array_sum(Set::extract('/PartialQuantity/quantity',$partialQuantities)):0;
            echo $this->Form->input('confirmed_box_quantity', array('value'=>$suggestedQuantity,'label' => __('Kubilų kiekis (vnt)'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group')));
            echo $this->Form->input('confirmed_item_quantity', array('type'=>'hidden', 'value'=>0));
        }else{
            $suggestedQuantity = is_array($partialQuantities) && !empty($partialQuantities)?current($partialQuantities)['PartialQuantity']['quantity'] : 0;
            echo $this->Form->input('confirmed_box_quantity', array('type'=>'hidden', 'value'=>0));
            echo $this->Form->input('confirmed_item_quantity', array('value'=>$suggestedQuantity, 'label' => __('Gaminių kiekis'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php } ?>
    </div>
</div>
<?php endif; ?>
<div>
	<br />
	<?php if ($edit_approved_order_quantities && $canSave && !$item[ApprovedOrder::NAME]['confirmed'] && ($item[ApprovedOrder::NAME]['status_id'] == ApprovedOrder::STATE_COMPLETE || $item[ApprovedOrder::NAME]['status_id'] == ApprovedOrder::STATE_POSTPHONED || $item[ApprovedOrder::NAME]['status_id'] == ApprovedOrder::STATE_PART_COMPLETE)){ ?>
	   <input type="submit" class="btn btn-primary" value="<?php echo __('Išsaugoti'); ?>" name="confirm_order" />
	<?php }else{ ?>
	    <a class="btn btn-primary" onclick="history.back();"><?php echo __('Grįžti'); ?></a>
	<?php }; ?>
	<!--<a href="<?php echo $listUrl; ?>" class="btn btn-link"><?php echo __('Atšaukti'); ?></a> -->
</div>
<?php echo $this->Form->end();