<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kitron</title>
</head>
<body style="height: 100%;">
    <?php
    foreach($links as $link){ ?>
        <iframe src="<?php echo $link; ?>" style="width: 100%; height: 50%; border: 0;"></iframe>
    <?php } ?>
</body>
</html>
<?php die(); ?>
