body{
	font-family: "Helvetica";
	background: none;
	padding: 0;
	margin: 0;
	width: 1900px;
}
h1 a:hover{
	text-decoration: none;	
}
h1 a.enlarge{
	background: url(./../img/enlarge_white.png) 0 50% no-repeat;
	display:inline-block;
	height: 36px;
	width: 36px;	
}
h1 a{
	color: #fff !important;
}
#mashines.white{
	padding: 10px 26px;
	background: #ebebec;
}
#mashines.dark{
	padding: 18px 32px;
	background: #1c1c20;
}
h1{
	font-size: 48px;
	line-height: 48px;
	padding: 10px;
	border-bottom: 1px solid #ebebec;
	background: #3f86c4;
}
.columns4 h1{
	font-size: 33px;
	line-height: 33px;
}
.dark h1{
	border-bottom: 1px solid #1c1c20;
}
.dark{
	color: #fff;
}
.sensor{
	padding: 7px;
}
.white .sensor > div{
	background: #fff;
}
.dark .sensor > div{
	background: #27282c;
}
.sensor .box-content{
	padding: 3px 15px;
	border: 1px solid #3f86c4;
	border-top: 0;
}
.sensor .box-footer{
	padding: 21px 15px;
	border-top: 1px solid #ebebec;
}
.dark .sensor .box-footer{
	border-top: 1px solid #1c1c20;
}
.sensor h1 span{
	width: 43px;
	height: 43px;
	border-radius: 22px;
	display: inline-block;
	position:relative;
	border: 7px solid;
	margin-left: 20px;
	top: 2px;
}
.sensor h1 span i{
	width: 15px;
	height: 15px;
	border-radius: 7px;
	display: inline-block;
	position: absolute;
	left: 0; 
    right: 0; 
    margin: 0 auto; 
    top: 7px;
}
.sensor.green h1 span i{
	background: #18a418;	
}
.sensor.red h1 span i{
	background: #df0404;	
}
.sensor.yellow h1 span i{
	background: #ffd800;	
}
.sensor.grey h1 span i{
	background: #b7b7b7;	
}
.sensor.green h1 span{
	border-color: #18a418;
}
.sensor.red h1 span{
	border-color: #df0404;
}
.sensor.yellow h1 span{
	border-color: #ffd800;
}
.sensor.grey h1 span{
	border-color: #b7b7b7;
}
.JSFiddle {
	position: absolute;
	top: 50%;
	left: 50%;
}
.chart_div{
	position: relative;
	left: -50%;
	top: -56px;
	font-size: 44px;
	text-align: center;
}
.chart_div big{
	font-weight: bold;
	font-size: 60px;
	line-height: 78px;
}
.columns4 .chart_div big{
	font-size: 50px;	
}
.dark .chart_div{
	color: #fff;	
}
.graph{
	width: 100%; 
	height: 350px;
	position: relative;
}
br.clear{
	clear: both;
	line-height: 1px;
}
.hours{
	margin-top: 11px;
}
@media print{
	a[href]:after {
	    content: none !important;
	}
	h1 a {
		color: #000 !important;
	}
	h1{
		padding: 0 !important;
	}
}