<?php
$current_page = trim(urldecode($_GET['current_page']),'/');
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php } ?>
jQuery('span.iconsi-images').closest('li').find('ul.dropdown-menu').append('<li><a href="'+root + 'import_product_mode_matrix_xls/plugins/select_settings'+'" style="margin-right: 4px;"> <span class="icon-th"></span> &nbsp; <?php echo __('Gaminių - režimų matricos importavimas'); ?></a></li>');