<?php
$current_page = trim(urldecode($_GET['current_page']),'/'); 
if(!isset($current_page)) die();

if(false){ ?><script type="text/javascript"><?php } ?>
<?php 
if(!trim($current_page)){ ?>
    jQuery('table tr').each(function(){
    	if(jQuery(this).attr('sensor_id') > 0){
    		jQuery(this).find('td:last-child').append('<br /><a href="/test/test_work_centers/index/'+jQuery(this).attr('sensor_id')+'" target="_blank"><i class="iconfa-eye-open"></i> <?php echo __('Alternatyvi peržiūra'); ?></a>');
    	}
    });
<?php } ?>