
body.body-nobg {
	background: transparent;
}

.header .logo {
	padding-top: 21px;
}

.head-icon2 {
	font-size: 46px;
	text-align: center;
}

.miico {
	min-width: 14px;
	display: inline-block !important;
	text-align: center;
}

table.table-proptable td:first-child {
	white-space: nowrap;
	width: 1%;
	padding-right: 10px;
}

td.narrow_col {
	white-space: nowrap;
	width: 20%;
	padding-right: 10px;
}

.ta-desc-vert {
	resize: vertical;
}

.require-input-label {
	background: #eeeeee;
}
.require-input {
	background: #b8eaf9;
}

.chart_holder > .widgetOpener{
	height: 100% !important;
}
.checkbox input[type="checkbox"]{
	margin-top: 5px;
	margin-right: 10px;
}

.date-field-holder {
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}
.time-field-holder {
	width: 70px;
	display: inline-block;
	vertical-align: middle;
}
.date-field-holder-sep {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 10px;
}

.bootstrap-timepicker-widget {
	min-width: 130px !important;
}
.ui-datepicker-unselectable.ui-state-disabled span{
	color: #ccc !important;
}
.bootstrap-timepicker-widget table td {
	border: none !important;
	padding: 2px !important;
	vertical-align: middle !important;
}

/* MO stats */
table.mo-stats td, table.mo-stats th {
    vertical-align: middle !important;
    text-align:center;
}
tr.mo-name {
    font-weight: 700;
    background-color:#3b6c8e;
    color:white;
    margin-top:20px;
}
tr.mo-header {
    background-color:#ccc;
}

tr.mo-combined td.error {
    background-color: #ff0000;
}
td.mo-border-left, th.mo-border-left {
    border-left:4px solid #fff !important;
}

.mo-green {
    background-color: #17A886;
}
.mo-yellow {
    background-color: #F6E481;
}
.mo-red {
    background-color: #F13535;
}
.mo-darkgrey{
	background-color: #999;
}
.mo-picker li {
    list-style-type: none;
}
.mo-picker li ul {
    margin-left:20px;
}

.mo-day {
    display:block;
    background-color:#ddd;
}

label.default {
    font-weight: 300;
    font-size:12px;
}

/* measures for especially blind */
input.btn,
a.btn,
button.btn {
	font-size: 16px;
	font-family: Cambria;
	margin: 1px 0 1px 0;
}
input.btn.btn-info,
a.btn.btn-info,
button.btn.btn-info,
input.btn.btn-primary,
a.btn.btn-primary,
button.btn.btn-primary{
	color: #fff !important;
}
.problem,
.problem td{
	background-color: #ff0000 !important;
}
#panel-tabs{
	display:none;
}
.filtras .form-control{
	margin-bottom: 0 !important;
}
.langSelected{
	border: 1px solid #999;
	
}
.updates-table td a{
	font-size: 14px;
}
.updates-table td{
	background: #fff;
	font-size: 16px;
}
.updates-table tr.unread td{
	background: #ff9393;
}
.clearfix{
	clear: both;
}
.btn.btn-danger,
.btn.btn-primary{
	color: #fff;
}
#attachSensorsContainer div.form-controll{
	display: table;	
}
#attachSensorsContainer div.form-controll > div{
	clear: left;
}
#attachSensorsContainer div.form-controll > div,
#attachSensorsContainer div.form-controll label{
	float:left;	
}
#attachSensorsContainer div.form-controll label{
	width: 300px;	
}
#attachSensorsContainer div.select{
	columns: 2;
	  -webkit-columns: 2;
	  -moz-columns: 2;
	  break-inside: avoid-column;
}
table#activeWorkCentersListTable tr.disabled_order_start td{
	background-color: #ffa6b1 !important;
}
.userinfo h4{
	padding-left: 35px;
}
#languages li a{
	font-size: 17px;	
}
#languages{
	position: absolute;
	top: 10px;
	left: 21px;
}
.pagination span a{
	display: inline-block;
	padding: 7px 13px;
	font-size: 18px;
}
.pagination span{
	padding: 0;
	display: inline-block;
}
#shiftsTable tr.disabled td{
	background: #ffa07a;
}
#shiftsTable tr.enabled td{
	background: #90ee90;
}
#activeWorkCentersListTable tr th,
#activeWorkCentersListTable tr td{
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}
table td.full_width input.btn, table td.full_width a.btn, table td.full_width button.btn{
	max-width: 200px;
	width: 100%;
}