body{
	background: none;
}
div#mashines,body,html,div.row-fluid div{
	height: 100%;
}
div.sensor h1{
	text-align: center;
	text-align: left
}
div.hours div.stack .grey{
	background-color: #999999;	
	color: #fff;
}
div.hours div.stack .green{
	background-color: #5AB65A;	
	color: #fff;
}
div.hours div.stack .yellow{
	background-color: #FFDD00;	
}
div.hours div.stack .red{
	background-color: #D64D49;	
	color: #fff;
}
div.hours div.stack > div{
	text-align: center;
	margin: 0 1px;
	font-size: 12px;
}
div.hours div.stack{
	display: block;	
}
div.hours label{
	transform: rotate(-90deg);	
	display: block;
	width: 100%;
	text-align:center;
	position: relative;
}
div.sensor > div{
	height: 75%;
}
div.hours > div{
	float: left;
	width: 4.1666666%;
}
div.row-fluid div.factors div,
div.row-fluid div.graph div{
	height: auto;	
}
div.row-fluid div.factors{
	height: 30%;	
}
div.row-fluid div.graph > div{
	height: 100%;
}
div.row-fluid div.graph table td p{
	line-height: 16px;
	font-size: 16px;
}
div.row-fluid div.graph table td{
	vertical-align: middle;
	text-align: center;	
}
div.row-fluid div.graph table{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
div.row-fluid div.graph{
	height: 70%;
	position: relative;
	min-width: 150px;
	min-height: 140px;
}
div.row-fluid div.factors div.indicator {
    display: block;
    width: 100%;
    background: #666;
    margin-bottom: 6px;
}
div.row-fluid div.factors .exploitationIndicator > div {
    background: #517dfa;
    display: block;
    height: 15px;
}
div.row-fluid div.factors .operationalIndicator > div {
    background: #ff445a;
    display: block;
    height: 15px;
}
div.row-fluid div.factors p {
    font-size: 16px;
}
@media only screen and (max-height: 700px) {
	div.sensor > div{
		height: 50%; 	
	}	
}
@media only screen and (max-width: 992px) {
	h1{
		font-size: 20px;
		padding: 5px 0;
	}	
	div#mashines > div.row-fluid{
		height: 200% !important;	
	}
	div#mashines > div.row-fluid > div.sensor > div.row-fluid{
		height: 75%;	
	}
	div#mashines > div.row-fluid div.sensor:first-child h1{
		margin-top: 50px;
	}
	div#mashines > div.row-fluid:first-child div.sensor h1{
		margin-top: 0px;
	}
	div#mashines > div.row-fluid > div.sensor{
		height: 50% !important;	
	}
	div.row-fluid div.factors p {
	    font-size: 11px;
	    line-height: 9px;
	}
	div.row-fluid div.factors .operationalIndicator > div,
	div.row-fluid div.factors .exploitationIndicator > div {
		height: 5px;	
	}
	div.row-fluid div.hours label{
		font-size: 10px;
	}
	div.graph
}
@media only screen and (min-width: 1200px) {
	div.row-fluid div.col-xs-12 div.graph table td p{
		line-height: 22px;
		font-size: 20px;
	}
	h1{
		font-size: 50px;
		padding: 10px 0;
	}
	div.row-fluid div.col-xs-12 div.hours label{
		font-size: 16px;
	}
}