
#sensors,
#sensors .sensor{
    height: 100%;
}
#sensors .sensor{
    background: #e5e5e5;
    float: left;
}
#sensors > div{
    clear: both;
}
.headersBlocks{
    height: 10%;
}
.headersBlocks{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.periodsBlock{
    padding: 0px 5px 15px 5px;
    position: relative;
    height: 90%;
}
.periodsBlock .legends{
    height: 10%;
}
.periodsBlock .hours{
    height: 12%;
    margin-bottom: 0.6%;
    clear: both;
}
.periodsBlock .hours:last-child{
    margin-bottom: 0;
}
.periodsBlock div.hours:first-child .legends span{
    display: block;
}
.periodsBlock .legends > div{
    float: left;
    min-height: 1px;
    position: relative;
}
.periodsBlock .legends{
    padding: 0px 0 9px 0;
    position: relative;
}
.periodsBlock .legends div.hourLegend span{
    position: relative;
}
.periodsBlock .legends div.hourLegend{
    display: inline-block;
    font-size: 1vw;
    line-height: 13px;
    height: 20px;
    color: #5e5f63;
    border-left: 2px solid #cbcbcb;
    padding-left: 4px;
    width: 8.33%;
}
.periodsBlock .legends div.hourLegend:last-child{
    position: absolute;
    display: none;
}
br.clear{
    clear: both;
    font-size: 1px;
    border: 0;
}
.periodsBlock .hours .hour div.interval.type-production_speed_low{
    background: #7ed925;
}
.periodsBlock .hours .hour div.interval.type-production_speed_good{
    background: #5AB65A;
}
.periodsBlock .hours .hour div.interval.type-3.problem-null,
.periodsBlock .hours .hour div.interval.type-1{
    background: #019519;
}
.periodsBlock .hours .hour div.interval.type-8,
.periodsBlock .hours .hour div.interval.type-4,
.periodsBlock .hours .hour div.interval.type-2{
    background: #d91505;
}
.periodsBlock .hours .hour div.interval.type-7{
    background: #82c400;
}
.periodsBlock .hours .hour div.interval.type-3{
    background: #ffc300;
}
.periodsBlock .hours .hour div.interval.type-9,
.periodsBlock .hours .hour div.interval.type-0{
    background: #999999;
}

.periodsBlock .hours .hour div.interval div{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.periodsBlock .hours .hour div.interval div span{
    white-space: nowrap;
    display: inline-block;
    color: #fff;
    font-size: 1.2vw;
    width: 100%;
    text-align: center;
}
.periodsBlock .hours .hour div.interval{
    position: absolute;
}
.periodsBlock .hours .hour,
.periodsBlock .hours .hour div{
    height: 100%;
}
.periodsBlock div.infoblock{
    font-size: 0.8vw;
    text-align: center;
    font-weight: bold;
    float: left;
}
.periodsBlock div.hour div.infoblock{
    font-size: 1.2vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.periodsBlock .hours .hour > div{
    float: left;
    position: relative;
}
.periodsBlock .hours .intervalsContainer div.interval:last-child{
    border-radius: 0 22px 22px 0;
}
.periodsBlock .hours .intervalsContainer{
    width: 91.67%;
}
.periodsBlock .hours .hourTitle{
    color: #fff;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8.33%;
    border-radius: 22px 0 0 22px;
    background: #4a4e57;
}
h3{
    font-size: 1.5vw;
}
@media only screen and (max-width: 800px) {
    .periodsBlock .hours .hour div.interval div span,
    .periodsBlock div.infoblock,
    .periodsBlock .legends div.hourLegend{
        font-size: 2vw;
    }
    h3,
    .periodsBlock .hours .hourTitle{
        font-size: 3vw;
    }
}