body{
	/*height: 2000px;*/
}
.work-center {
	background: #ffffff;
	margin: 0px;
}
#container {
	position: relative;
	padding: 20px;
	max-width: 1170px;
	margin: 0 auto;
}
/*.work-center .timeline {
	padding: 10px;
}*/
.work-center .timeline .popover-content {
	min-width: 244px;
}
.work-center .timeline .tml-head {
	
}
.work-center .timeline .tml-hours {
	
}
#timelineContainer{
	padding-right: 0;
}
.sensr_header{
	font-size: 22px;
	font-weight: normal;
	padding-left: 35px;
}
#wc-languages li a{
	font-size: 17px;	
}
#wc-languages{
	position: absolute;
	top: 1px;
}
.iconfa-signout{
	font-size: 18px;
}
.work-center .timeline .tml-hours > div {
	margin-bottom: 4px;
	border: 1px solid #CCCCCC;
	padding: 5px;
	position: relative;
}
.work-center .timeline .tml-hours > div:first-child {
	margin-top: 20px;
}
.work-center .timeline .tml-hours > div .tml-info-block span{
	display:block;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.work-center .timeline .tml-hours > div .tml-info-block{
	line-height: 14px;
	font-size: 12px;
	position: absolute;
	top: 3px;	
	padding:0 2px;
	border-right: 1px solid #ccc;
}
.work-center .timeline .tml-hours > div .tml-hour-title {
	width: 60px;
	float: left;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
}
.work-center .timeline .tml-hours > div .tml-hour-title.tml-hour-title-plan {
	font-size: 16px;
}
.work-center .timeline .tml-hours > div .tml-hour-date {
	width: 60px;
	display: block;
	position: absolute;
	font-size: 11px;
	line-height: 13px;
	color: #999999;
	text-align: left;
	bottom: 4px;
}
.work-center .timeline .tml-hours > div .tml-graph .marker{
	position: absolute;
	z-index: 1;
}
.work-center .timeline .tml-hours > div .tml-graph {
	margin-left: 65px;
	min-height: 40px;
	line-height: 1px;
	border: 1px solid #CCCCCC;
	position: relative;
	z-index: 2;
	background: #ffffff;
}
.work-center .timeline .tml-hours > div .tml-graph.tml-graph-plans {
	margin-bottom: 5px;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem {
	min-height: 40px;
	display: block;
	position: absolute;
	overflow: hidden;
	top: 0px;
	margin: -1px 0px -1px 0px;
	border: 1px solid;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem:first-child {
	margin-left: -1px;
	border-left: 1px solid;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem:last-child {
	margin-right: -1px;
	border-right: 1px solid;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem-production_speed_good,
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem-green {
	background-color: #5AB65A !important;
	border-color: #419641;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-planedtime {
	background-color: #17A886 !important;
	border-color: #000;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem-production_speed_low {
	background-color: #7ed925 !important;
	border-color: #419641;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red {
	background-color: #D64D49;
	border-color: #C12E2A;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red-grid {
	background: #D64D49 url("../img/grid.png") repeat center center !important;
	border-color: #C12E2A;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-sys-error {
    background-color: #269abc !important;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-blue {
    background-color: #269abc !important;
    border-color: #2749ba;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.problemid_2,
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-gray {
	background-color: #999999 !important;
	border-color: #666666;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-yellow {
	background-color: #FDEE00 !important;
	border-color: #DAA520;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem:hover {
    -moz-box-shadow: 0px 0px 3px #000000;
    -webkit-box-shadow: 0px 0px 3px #000000;
    box-shadow: 0px 0px 3px #000000;
	z-index: 999;
}
.popover,
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem .popover {
	z-index: 999;
	position: fixed;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem span {
	font-size: 12px;
	line-height: 14px;
	display: block;
	margin: 12px auto 0px auto;
	text-align: center;
	font-weight: normal;
	white-space: nowrap;
	color: #000000;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem-red-grid span {
	color: #ffffff;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red span {
	color: #ffffff;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-quantity-box {
	border: 2px solid #333333;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #ffffff url("../img/green_down.png") no-repeat 4px center;
	padding: 4px 8px 4px 24px;
	margin: 0px;
	font-size: 12px;
	line-height: 14px;
	color: #333333;
	cursor: default;
	display: block;
	position: absolute;
}
.work-center .timeline .tml-marker {
	position: absolute;
	top: 0px;
	font-size: 11px;
	line-height: 12px;
	height: 100%;
	padding: 0px 0px 0px 2px;
	margin: 0px;
	border-left: 1px solid #cccccc;
	z-index: 1;
}

.work-center .big-btn-menu button {
	width: 100%;
	margin-top: 20px;
	color: #000000;
}
.work-center .big-btn-menu button.btn-primary {
	color: #ffffff;
}
.work-center .btn-transition {
	background: #fdee00;
}
/*.work-center .big-btn-menu.big-btn-menu-2col {*/
	/*text-align: center;*/
/*}*/
/*.work-center .big-btn-menu.big-btn-menu-2col button {*/
	/*width: 48%;*/
/*}*/
/*.work-center .big-btn-menu.big-btn-menu-2col button:nth-child(even) {*/
	/*margin-left: 10px;*/
/*}*/
/*.work-center .big-btn-menu.big-btn-menu-2col button.btn-danger {*/
	/*font-size: 16px;*/
	/*line-height: 18px;*/
	/*border: 10px solid #D2322D;*/
	/*background: white;*/
/*}*/

.modal-dialog.widen {
    width:950px;
}

.work-center .big-btn-menu.big-btn-menu-2col {
    text-align: center;
}
.work-center .big-btn-menu.big-btn-menu-2col button {
    width: 32%;
    margin-left:10px
}
.work-center .big-btn-menu.big-btn-menu-2col button:nth-child(3n + 3) {
    margin-left: 10px;
}
.work-center .big-btn-menu.big-btn-menu-2col button.btn-danger {
    font-size: 16px;
    line-height: 18px;
    border: 10px solid #D2322D;
    background: white;
	position: relative;
}
.work-center .big-btn-menu.big-btn-menu-2col button.btn-danger i.iconfa-arrow-down{
	position: absolute;
	right: 0;
	top: 35%;
}
.work-center .big-btn-menu.big-btn-menu-2col button.btn-danger.transition{
	border: 10px solid #fdee00;
}

.work-center .oee-gauge-wrap{
	position: relative;
}
.speed-gauge-wrap{
	width: 246px;;
}
.oee-gauge-wrap svg{
	display:none;
}
.oee-gauge-wrap svg:first-child{
	display: block;
}
.gaugeTitle{
	fill-opacity: 1;
    font-weight: bold;
    font-size: 19px;
    color: #999;
    text-align: center;
	white-space: nowrap;
}
.oee-gauge svg text:first-of-type tspan {
  font-size: 18px !important;
  white-space: normal;
}
.work-center .btn-group.wide-sell {
	width: 100%;
}
.work-center .btn-group.wide-sell > button {
	width: 100%;
	text-align: left;
	position: relative;
}
.work-center .btn-group.wide-sell > button > .caret {
	right: 10px;
	top: 50%;
	display: block;
	position: absolute;
}
.work-center .btn-group.wide-sell > .dropdown-menu {
	width: 100%;
}

.work-center .wide-sell-for-blind button {
	font-size: 20px;
}
.work-center .wide-sell-for-blind ul.dropdown-menu li {
	font-size: 18px;
}

tr.warning-for-blind td {
	background-color: #FDEE00 !important;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}
.work-center .plan-table td {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

.modal-title-for-blind {
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
}

.modal-info-for-blind {
	font-size: 16px;
	line-height: 18px;
}



.work-center .quick-btn-toolbar{
	padding: 0px;
	margin: 20px 0 0 0px;
	text-align: right;
}

.work-center .quick-btn-toolbar a.btn,
.work-center .quick-btn-toolbar button {
	display: flex;
	width: 100%;
	color: #000000 !important;
	white-space: pre-wrap;
	line-height: 16px;
	margin-bottom: 5px;
	min-height: 42px;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

button.btn-default.btn-default-for-blind {
	border-color: #333333;
}

button.btn-grey {
    background-color:#bbb;
    border:1px solid #aaa;
}
button.btn-grey:hover {
    background-color:#aaa;

}

table.table tr.info td {
	background-color: #56BEDD;
}

.no-margin {
    margin:0;
}


div.plugins {
    text-align:center;
}

div.plugins a {
    display: block;
    background-color: #ddd;
    color: #000;
    margin-bottom: 10px;
    padding: 10px;
}

#ui-datepicker-div {
    z-index: 2000 !important;
}
.split_downtime_controll{
	margin-top: 10px;	
}
.split_downtime_controll tbody input[type="number"]{
	margin: 0;	
	font-size: 18px;
}
.split_downtime_controll tbody td{
	vertical-align: middle !important;	
}
.split_downtime_controll tbody{
	font-size: 17px;
}
.smaller-items li a {
    font-size:13px;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red.problem-exclusion{
	background-color: #999 !important;
	border: 1px solid #999;
}
.work-center .checkbox input{
	float: left;
}
.work-center .checkbox label{
	float: left;
	font-size: 13px;
	font-weight: bold;
}
#gaugeBar h2{
	white-space: nowrap;
}
br.clear{
	clear: both;
	line-height: 1px;
}
@keyframes marquee {
	0%   { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
}
div.marquee{
	overflow: hidden;
}
div.marquee p{
	float: left;
	width: 200%;
	text-align: right;
	font-size: 22px;
	color: #3b6c8e;;
	animation: marquee 20s linear infinite;
}
.modal-dialog.large{
	width: 80%;
}
/*@media screen and (min-width: 320px) and (max-width: 767px){
	.work-center .quick-btn-toolbar a.btn,
	.work-center .quick-btn-toolbar button {
		width: auto;
		float: left;
		margin-right: 10px;
	}
	.work-center .quick-btn-toolbar{
		margin-bottom: 40px;
	}
	html,body{
		height: 100vw;
		width: 100vh;
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
		transform: rotate(0deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}*/
@media print{
	#timePager{
		display:none;
	}
	.work-center .timeline .tml-hours > div .tml-graph .tml-gitem{
		border: 1px solid !important;
	}
	a{
		display: none !important;
	}
	#timelineContainer{
		width: 850px !important;
		left: -50px;
		position: relative;
	}
	.quick-btn-toolbar{
		display:none;
	}
	#gaugeBar > div{
		float: left;	
	}
	#gaugeBar{
		width: 850px;
	}
	.speed-gauge-wrap{
		position: relative;
		top: 30px;
	}
	#speedGaugeTitle{
		position: relative;
		top: 15px;
		color: #999 !important;
		font-weight: normal !important;
	}
	.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red {
		background-color: #D64D49 !important;
		border-color: #C12E2A;
	}
}
/*@media screen and (min-width: 1800px) {*/
	#container{
		max-width: none;
	}
	.work-center .timeline .tml-hours > div .tml-graph {
		min-height: 60px;
	}
	.work-center .timeline .tml-hours > div .tml-graph .tml-gitem {
		min-height: 60px;
	}
	.work-center .timeline .tml-hours > div .tml-graph .tml-gitem span{
		font-size: 18px;
		line-height: 34px;
	}
	.work-center .timeline .tml-hours > div .tml-hour-title{
		line-height: 55px;
	}
	.work-center .quick-btn-toolbar a.btn,
	.work-center .quick-btn-toolbar button {
		min-height: 70px;
		font-size: 19px;
		line-height: 19px;
	}
/*}*/