<?php
$current_page = trim(urldecode($_GET['current_page']),'/'); 
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php } ?>
//jQuery('span.iconfa-calendar').closest('li').find('ul.dropdown-menu').append('<li><a class="btn btn-rounded " href="" style="margin-right: 4px;"> <i class="iconsweets-link"></i> &nbsp; <?php echo __('Darbo centrų apkrautumas'); ?></a></li>');
<?php
if(preg_match('/.*dashboards\/inner$/i',trim($current_page,'/'))){ ?>
    jQuery('.nav.nav-tabs').append('<li role="presentation"><a href="#lrytasTabAttributes" aria-controls="two" role="tab" data-toggle="tab">Įrenginių darbo ataskaita</a></li>');
    jQuery('.tab-content').append('<div role="tabpanel" class="tab-pane" id="lrytasTabAttributes">'+jQuery('#one').html()+'</div>');
    jQuery('#lrytasTabAttributes .view_angle').remove();
    jQuery('#lrytasTabAttributes form').attr('action','/lrytas/plugins/generate_attr_report');
    jQuery('#lrytasTabAttributes input#start_date').attr('id','lrytas_attr_start_date');
    jQuery('#lrytasTabAttributes input#end_date').attr('id','lrytas_attr_end_date');
<?php } ?>