html, body{
    height: 100%;
    background: #bdd7ee !important;
}
div.container, div.container > div, div.container > div > div{
    height: 100%;
}
.corridorsGroup{
    height: 20%;
    margin-bottom: 4px;
}
.corridor.used{
	background: #ff5050;
}
.corridor.reserved{
	background: #ffc000;
}
.corridor p{
	-ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
.corridor{
    height: 100%;
    border: 1px solid #000000;
    text-align: center;
    font-size: 20px;
    padding: 4px;
    margin: 0 2px;
    background: #92d050;
    cursor: pointer;
}
#actionButtons{
	padding-top: 20%;	
}
#actionButtons a,
#actionButtons button{
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
	color: #FFFFFF;
}
