html{
    height: 100%;
}
body{
    background: #bdd7ee !important;
    height: 100%;
}
h2{
    font-size: 2vw;
}
.padding-top-bottom{
    height: 20%;
}
div.container{
    height: 100%;
}
div.container > div.row{
    height: 60%;
}
table,form{
    width: 100%;
    height: 100%;
}
div#buttons,div#inputs{
    height: 100%;
}
div#buttons{
    padding-right: 40px;
}
div#buttons > div.row{
    height: 25%;
}
table td{
    height: 40%;
    vertical-align: middle;
    width: 100%;
}
table tr:first-child td,
table tr:last-child td{
    height: 10%;
}
div#buttons > div.row > div{
    height: 100%;
    padding: 0;
    text-align: center;
}
#buttons button.smaller-items{
    font-size: 3vw;
    font-weight: normal;
}
#inputs label{
    font-size: 3vw;
    font-weight: normal;
    margin-bottom: 20px;
}
#buttons button{
    width: 90%;
    background: #fff;
    border: 2px solid #000;
    height: 90%;
    font-size: 5vw;
}
h1{
    text-align: center;
    margin: 0;
}
#inputs input{
    width: 100%;
    height: 60%;
    font-size: 5vw;
    padding: 0 2%;
}
@media only screen and (max-height: 700px) {
    div#buttons{
        padding-right: 20px;
    }
    #inputs label{
        font-size: 4vw;
        margin-bottom: 10px;
    }
    h2{
        font-size: 3vw;
    }
}