.corridor > div{
    border: 2px solid #000;
    margin-top: 10px;
}
.corridor > div p{
    text-align: center;
}
.totals .corridor{
    display: table;
    margin-bottom: 10px;
}
.totals > div:nth-child( n + 1 ) .corridor{
    background: #c6e0b4;
}
.totals > div:nth-child( n + 2 ) .corridor{
    background: #bdd7ee;
}
.totals.currshift > div:nth-child(n+3) .corridor{
    background: #ffe699;
}
.totals > div.Naktinė .corridor,
.corridor p.Naktinė{
    background: #99FFFF;
}
.totals > div.Popietinė .corridor,
.corridor p.Popietinė{
    background: #CC9966;
}
.totals > div.Rytinė .corridor,
.corridor p.Rytinė{
    background: #FFFF99;
}
.totals .corridor > div{
    height: 50px;
    text-align: center;
    font-size: 18px;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.corridor h3{
    font-size: 20px;
}
.corridor.pins > div > div{
    float: left;
}
.corridor .center{
    width: 60%;
}
.corridor .left-side,
.corridor .right-side{
    width: 20%;
    text-align: center;
}
.corridor .pinContainer{
    line-height: 10px;
}
.corridor .pinContainer.active .pin{
    background: #00b050;
}
.corridor .no_connection .pin{
    background: #000000 !important;
}
.corridor .no_connection{
    background: #ff0000;
    color: #fff;
}
.corridor .pinContainer.disabled .pin{
    background: #c0c0c0 !important;
}
.corridor .pinContainer.hasProblem .pin{
    background: #ff0000;
}
.corridor p.bg {
    color: #000;
    padding: 2px 0;
}
.corridor .center p:first-child{
    margin: 10px 0;
}
.corridor p.user{
    margin: 5px 0;
}
.corridor p {
    margin: 3px 0;
    font-size: 20px;
    line-height: 30px;
}
.corridor .pin{
    width: 10px;
    height: 10px;
    background: #c0c0c0;
    margin: 2px;
    display: inline-block;
}
.corridor .corridor-name{
    cursor: pointer;
}
.corridor{
    width: 7.2%;
    float: left;
    margin: 0 3px;
}
.currshift.totals .corridor.key{
    width: 24.9%;
}
.clear{
    line-height: 1px;
    height: 1px;
    clear: both;
}
.hidden{
    display: none;
}
.popup h3{
    text-align: center;
    margin: 30px 0;
}
.popup{
    z-index: 1;
    position: fixed;
    width: 50%;
    min-height: 100px;
    background: #fff;
    border: 1px solid #ddd;
    top: 25%;
    left: 50%;
    margin-left: -25%;
    padding: 10px;
}
div.select-list{
    position: relative;
}
div.select-list ul li{
    font-size: 18px;
    line-height: 20px;
    padding: 5px 10px;
    background: #fff;
}
div.select-list ul li:hover{
    background: #3b6c8e;
    color: #fff;
    cursor: pointer;
}
div.select-list input{
    margin-bottom: 0;
    font-size: 18px;
}
div.select-list ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 1;
    max-height: 250px;
    overflow: auto;
}
h4{
    font-size: 20px;
    margin-bottom: 10px;
}
#productChoose button.btn{
    margin-top: 20px;
    min-width: 150px;
}