div.sensor{
    position: relative;
}
div.legends{
    position: absolute;
    top: 12px;
    left: 150px;
}
div.legends ul li{
    font-size: 18px;
}
div.legends ul li:nth-child(1) span{
    background: #5AB65A;
}
div.legends ul li:nth-child(2) span{
    background: #D64D49;
}
div.legends ul li span{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    top: 6px;
}
div.legends ul{
    list-style-type: none;
}