.tml-gitem-green{
	background: #5AB65A;
}
.tml-gitem-braun,
.tml-gitem-print{
	background: #8B4513;
}
.tml-gitem-lightblue{
	background: #b3dcff;
}
.tml-gitem-pink{
	background: #c613b2;
}
.tml-gitem-electric{
	background: #12c6b4;
}
.tml-gitem-lightgreen{
	background: #6fc612;
}
#legendsExplanation{
	list-style-type: none;
	padding: 0;	
	float: right;
	column-count: 3;
}
#legendsExplanation li{
	line-height: 15px;	
	font-size: 15px;	
}
#legendsExplanation span{
	display:inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}
