<?php
$current_page = trim(urldecode($_GET['current_page']),'/');
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php } ?>
    //jQuery('span.iconfa-calendar').closest('li').find('ul.dropdown-menu').append('<li><a class="btn btn-rounded " href="" style="margin-right: 4px;"> <i class="iconsweets-link"></i> &nbsp; <?php echo __('Darbo centrų apkrautumas'); ?></a></li>');
    <?php
    if(preg_match('/.*dashboards\/inner$/i',trim($current_page,'/'))){ ?>
    jQuery('#four').after('<div id="ump_csv_export" role="tabpanel" class="tab-pane">'+jQuery('#four').html()+'</div>');
    jQuery('#ump_csv_export button.add-subscription').remove();
    jQuery('#ump_csv_export form').attr({id:'csv_export', 'action': '<?php echo Router::url(array('plugin'=>'ump','controller'=>'plugins', 'action'=>'export_found_problems_csv')); ?>'});
    jQuery('.nav.nav-tabs').append('<li role="presentation"><a href="#ump_csv_export" aria-controls="two" role="tab" data-toggle="tab"><?php echo __('Įvykių žurnalas CSV'); ?></a></li>');
<?php } ?>