<div id="my_chart<?php echo $ident; ?>" ></div>
<script type="text/javascript">

swfobject.embedSWF(
"<?php echo $this->Html->url('/files/open-flash-chart.swf') ?>", "my_chart<?php echo $ident; ?>",
"100%", "100%", "9.0.0", "<?php echo $this->Html->url('/files/expressInstall.swf') ?>",
  {"get-data":"get_data_<?php echo $ident; ?>"} );

function get_data_<?php echo $ident; ?>(){
    return JSON.stringify(<?php echo $graphData; ?>);
}
</script>
