.tml-gitem-print{
	background: #00AA00;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-green{
	background: #d78e00 !important;
	border-color: #d78e00 !important;
}
.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.problemid_-2{
	background: #A06639 !important;
}
