<?php if (($msg = $this->Session->flash('saveMessage'))): ?>
    <div class="alert alert-error"><?php echo $msg; ?></div>
<?php endif; ?>
<?php echo $this->Form->create($model, array('url' => $formUrl, 'autocomplete' => 'off', 'type' => 'file')); ?>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <?php echo $this->Form->input('id', array('div' => null, 'label' => null, 'type' => 'hidden')); ?>
        <?php echo $this->Form->input('name', array('label' => __('Pavadinimas'), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('line_id', array('label' => '1. '.__('Linija'), 'options'=>$linesOptions, 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('ps_id', array('label' => '3. '.__('PS ID'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('branch_id', array('label' => '5 '.__('Padalinys'), 'options' => $branchOptions, 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php //echo $this->Form->input('factory_id', array('label' => '5.2 '.__('Fabrikas'), 'options' => $factoryOptions, 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('type', array('label' => '7. '.__('Tipas'), 'options' => $typeOptions, 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('marked', array('label' => '9. '.__('Grafinis išvedimas'), 'options' => array(__('Ne'),__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('is_partial',   array('label'=>'11. '.__('Ar dalinis'),'type' => 'checkbox')); ?>
        <?php echo $this->Form->input('show_count_marker', array('label' => '13. '.__('Ar paslėpti kiekio langelį darbo centro valandiniame grafike?'), 'type'=>'checkbox')); ?>
        <?php echo $this->Form->input('full_sensor_id', array('label' => '15. '.__('Pilnas jutiklis'), 'options' => $sensorOptions, 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('tv_speed_deviation', array('label' => '17. '.__('TV ekranų greičio matuoklio procentinės ribos nuo gaminio normos bei papildomos (geltonos) ribos, išvedamos laužtiniuose skliaustuose bei atskiriamos kableliu, pvz: [30 - 30], [0 - 5]. Apatinė geltona riba "0" nustato gamybos intervalų spalvinimą šviesiai ir tamsiai žalia spalva'), 'type'=>'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('inform_about_problems', array('label' => '19. '.__('El. paštų ir telefono numerių grupių sąrašas, į kuriuos išsiunčiami informaciniai pranešimai apie darbo centro prastovų laikus (išskyrus prastovas, mažinančias pamainos laiką), viršijančius normą (minutėmis). Grupėje gali būti nurodytas reikiamų prastovų id sąrašas, įrašant laužtiniuose sklaisutuose ir atkiriant kableliu. Pvz.: v1.darb@im.eu | v2.darb@im.eu | +37062222222 : 60 [5,9,12]; v3.darb@im.eu | v4.darb@im.eu | +37062333333 : 120;'), 'type'=>'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('units', array('label' => '21. '.__('Kokiais matavimo vienetais išreiškiamas jutiklio fiksuojamas kiekis?'), 'type'=>'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('prod_starts_on', array('label' => '23. '.__('Mažiausia įrašo vertė, su kuria būtų skaičiuojamas iš eilės einančių įrašų kiekis užsakymui pradėti. Jei nurodyta 0, įrašo vertė turi būti >= 0.1'), 'type'=>'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('quantity_records_to_start_order', array('label' => '25. '.__('Įrašų kiekis užsakymui pradėti. Kiek įrašų su kiekiu didesniu už nulį turi pareiti iš valdiklio, kad būtų laikoma, jog užsakymas pradėtas?'), 'type' => 'number', 'class' => 'form-control', 'div' => array('class' => 'form-group'), 'step'=>1, 'min'=>1)); ?>
        <?php echo $this->Form->input('records_count_to_start_problem', array('label' => '27. '.__('Koks iš eilės einančių probleminių įrašų kiekis turi pareiti iš jutiklio, kad būtų fiksuojamas prastovos laikas? Naudojama tik kai sistemoje vykdomi planai.'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('short_problem', array('label' => '29. '.__('Prastovos id, į kurią virsta nepažymėta prastova, trukusi trumpiau nei nurodytas laikas minutėmis. Pvz.: 343_2, kur 343 - prastovos id, 2 - minutės. Pakeitimas vykdomas užsidarant prastovai.'), 'type'=>'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('long_problem', array('label' => '31. '.__('Prastovos id, į kurią virsta nepažymėta prastova, trukusi ilgiau nei nurodytas laikas minutėmis. Pvz.: 344_60, kur 344 - prastovos id, 60 - minutės. Pakeitimas vykdomas keičiantis pamainai.'), 'type'=>'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('choose_plan_after_transition', array('label' => '33. '.__('Ar planas turi būti paduodamas pasirinkti iškart po derinimo parinkimo, ar po duomenų su kiekis atsiuntimo?'), 'options' => array(0=>__('Duomenų su kiekis atsiuntimo'),1=>__('Derinimo pasirinkimo')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('plan_relate_quantity', array('label' => '35. '.__('Plano greitis (step) susietas su jutiklio užfiksuotais kiekiais (quantity) ar su į vieną fiksaciją patenkančiais vienetais (unit_quantity)?'), 'options' => array('quantity'=>__('Jutiklio kiekiais (quantity)'),'unit_quantity'=>__('Jutiklio kiekių vienetais (unit_quantity)')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
    <div class="row"><div class="col-xs-6">
        <?php echo $this->Form->input('image', array('label' => '37. '.__('Įrengimo SPRITE paveiksliukas 1099x161 (jpeg,jpg,png)'), 'type'=>'file', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
    </div><div class="col-xs-6"><?php if(isset($this->request->data['Sensor']['image']) && trim($this->request->data['Sensor']['image'])){ echo $this->Html->image($this->request->data['Sensor']['image'], array('width'=>350));} ?></div></div> 
        <?php echo $this->Form->input('calculate_quality', array('label' => '39. '.__('Ar skaičiuoti kokybės koeficientą? Naudoti tik tada, kai jutiklis priklauso linijai, kurioje yra tiek pradžios tiek ir pabaigos jutikliai.'), 'options' => array(0=>__('Ne'),1=>__('Taip – brokas vedamas prieš jutiklį'),2=>__('Taip – brokas vedamas už jutiklio')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('confirm_orders', array('label' => '41. '.__('Ar darbo centro lange išvesti "Tvirtinti užsakymus" mygtuką?'), 'options' => array(__('Ne'),__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('has_mpm_attribute', array('label' => '42. '.__('Turi atributą (ps_id sutampa su atributo identifikatoriumi) MPM sistemoje kiekių eksportavimui?'), 'options' => array(__('Ne'),__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('work_intervals_colors', array('label' => '44. '.__('Darbo centro lange spalvinami darbo intervalai pagal turėtą greitį. Pvz.: 50:#000000, 100:#111111, #222222. Čia kai 0 <= vnt/min < 50, taikoma spalva #000000, kai 50 >= vnt/min < 100 taikoma spalva #111111, kai vnt/min >= 100 taikoma spalva #222222. Intervalų kiekis neribojamas. Jei nustatymas paliekamas tuščias, intervalai spalvinami šviesiai ir tamsiai žaliai pagal užduotą plano greitį ir 17 nustatymo procentines ribas. '), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_speedsgraph_button', array('label' => '47. '.__('Ar laiko intervalų grafike atvaizduoti "Greičio grafikas" mygtuką?'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('manual_shift_change', array('label' => '49. '.__('Rankinis pamainos pakeitimas. Privaloma sukurti atskirą jutiklio padalinį. Nurodomi du skaičiai minutėmis atskirti kableliu. Pirmas skaičius nurodo pamainos pabaigos paankstinimo ribą, kada pradedamas rodyti operatoriui "Pamainos pasikeitimas" mygtukas. Antras skaičius skirtas automatiškai uždaryti pamainą, kai nuo jos numatytos pabaigos praeina daugiau laiko nei nurodyta nustatyme.'),'type'=>'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php
        $parameters = array(&$this->Form);
        $helpComponent->callPluginFunction('View_EditSensorLeftBlock_Hook', $parameters, Configure::read('companyTitle'));
        ?>
    </div>
    <div class="col-md-6 col-xs-12">
        <?php echo $this->Form->input('speed_detect_interval', array('label' => '2. '.__('Greičio tikrinimo intervalas minutėmis'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('ok_speed_threshold', array('label' => '4. '.__('Gero greičio slenkstis procentais. Jei greitis bus mažesnis nei nurodyta, tada bus prašoma užregistruoti mažo greičio priežastį. Įvedus 0 greičio problemos nesekamos'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('working_on_plans_or_products', array('label' => '6. '.__('Sistemoje vykdomi užsakymai ar gaminiai?'), 'options' => array(0=>__('Užsakymai'),1=>__('Gaminiai')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('show_plans_count_on_new_production', array('label' => '8. '.__('Kai pradedama gamyba ir vartotojui išmetamas užklausimas "kas dabar gaminama?" atvaizduojamų užsakymų kiekis'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('show_plans_count_on_table', array('label' => '10. '.__('Operatoriaus darbo centro lange esančioje informacinėje lentelėje atvaizduojamų užsakymų skaičius'), 'type' => 'text', 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_diff_card_button', array('label' => '12. '.__('Ar laiko intervalų grafike atvaizduoti "Nauja neatitikties kortelė" mygtuką?'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_fill_nk_button', array('label' => '14. '.__('Ar laiko intervalų grafike atvaizduoti "Pildyti NK" mygtuką?'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_technicians_button', array('label' => '16. '.__('Ar laiko intervalų grafike atvaizduoti "Technikai" mygtuką?'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_register_event_button', array('label' => '18. '.__('Ar laiko intervalų grafike atvaizduoti "Registruoti įvykį" mygtuką?'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_declare_count_button', array('label' => '20. '.__('Ar laiko intervalų grafike atvaizduoti "Deklaruoti kiekius" mygtuką?'), 'options' => array(0=>__('Ne'),2=>__('Taip - kartu su žaliais intervalais darbo centre'),1=>__('Taip - tik spaudžiant mygtuką "Deklaruoti kiekį ir broką"')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_declare_count_on_finish', array('label' => '22. '.__('Ar užsakymo gamybos pabaigoje leisti operatoriui užpildyti formą su pagamintos produkcijos kiekiu? Pastaba: išjungus nustatymą langas vistiek bus paduodamas (be pagaminto kiekio laukelio), jeigu sistemoje bus suvestų nuostolių tipų.'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('time_interval_change_order_button', array('label' => '24. '.__('Ar laiko intervalų grafike atvaizduoti "Keisti užsakymą" mygtuką?'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('auto_generate_diff_cards', array('label' => '26. '.__('Ar neatitikties kortelės turi būti kuriamos automatiškai?'), 'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('show_oee_or_other_in_wc', array('label' => '28. '.__('Kas atvaizduojama darbo centro valandinio grafiko "Half donut" grafike?'), 'options' => array(0=>__('OEE'),1=>__('Prieinamumo koeficientas'),2=>__('Vykdomo užsakymo efektyvumo koeficientas')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('half_donut_colors', array('label' => '30. '.__('"Half donut" rodiklio intervalų [0 - 100%] spalvos. Aprašant kiekvieną intervalą yra nurodoma to intervalo procentinė pabaigos reikšmė, dedamas dvitaškis ir nurodomas spalvos šešioliktainis kodas. Intervalai atskiriami kableliais, pvz: 75:#D64D49, 80:#FDEE00, 100:#5AB65A'), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('new_fproblem_when_current_exceeds', array('label' => '32. '.__('Pamainos mastu ilgiau nei nurodytas laiko intervalas trunkanti prastova virsta į kitą, nurodytą prastovą. Įveskite prastovos ID, trukmę(min) ir ją pakeisiančios prastovos ID. Skaičiai atskiraimi ženklu "_", skirtingos ID poros atskiraimos kableliu. Pvz: 372_50_259, 358_40_457'), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('new_fproblem_when_current_exceeds2', array('label' => '34. '.__('Ilgiau nei nurodytas laiko intervalas trunkanti prastova virsta į kitą, nurodytą prastovą. Įveskite prastovos ID, trukmę(min) ir ją pakeisiančios prastovos ID. Skaičiai atskiraimi ženklu "_", skirtingos ID poros atskiraimos kableliu. Pvz: 372_50_259, 358_40_457'), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('allow_transition_during_work', array('label' => '36. '.__('Ar gamybos metu leisti operatoriui fiksuoti perėjimo prastovą per "Registruoti įvykį" mygtuką?'),'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('allow_nowork_during_work', array('label' => '38. '.__('Ar gamybos metu leisti operatoriui fiksuoti "nėra darbo" prastovą per "Registruoti įvykį" mygtuką? Registracija galima tik jei esamu momentu vyksta prastova.'),'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('show_plan_workcenter_intervals', array('label' => '40. '.__('Ar darbo centro intervalų grafike atvaizduoti plano intervalus šalia faktinių laikų?'),'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('operator_can_confirm_order', array('label' => '43. '.__('Ar leisti tvirtinti užsakymus operatoriams?'),'options' => array(0=>__('Ne'),1=>__('Taip')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('speedometer_type', array('label' => '45. '.__('Kokiu būdu turi būti skaičiuojamas greitis darbo centro greičio matuoklyje?'),'options' => array(0=>__('Iš paskutinės minutės kiekių vnt/min'),2=>__('Iš paskutinės valandos kiekių vnt/h'), 1=>__('Iš visos pamainos kiekių vnt/h')), 'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('marquee_message', array('label' => '46. '.__('Darbo centro bėgančios eilutės tekstas'), 'type'=>'text','class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('tech_cards_path', array('label' => '48. '.__('Technologinės kortelės FTP adresas, kuris gali būti parametrizuojamas įrašant vertes laužtiniuose skliaustuose, pvz.: ftp://ftp_vartotojas:ftp_slaptazodis@192.168.0.1/[Sensor.name]/[Plan.mo_number]/[Product.name].pdf'), 'type'=>'text','class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php echo $this->Form->input('dark_and_light_green_intervals', array('label' => '50. '.__('Darbo centre valandiniuose grafikuose žalius darbo laikų intervalus suskirstyti į šviesiai ir tamsiai žalius (šviesiai žali: greitis lėtesnis nei numatyta, tamsiai žali: greitis atitinka planą)'), 'type'=>'select', 'options'=>array(1=>__('Taip'), 0=>__('Ne') ),'class' => 'form-control', 'div' => array('class' => 'form-group'))); ?>
        <?php
        $parameters = array(&$this->Form);
        $helpComponent->callPluginFunction('View_EditSensorRightBlock_Hook', $parameters, Configure::read('companyTitle'));
        ?>
    </div>
</div>
<div>
	<br /> 
	<button type="submit" class="btn btn-primary"><?php echo __('Išsaugoti'); ?></button>
	<a href="<?php echo $listUrl; ?>" class="btn btn-link"><?php echo __('Atšaukti'); ?></a>
</div>
<?php echo $this->Form->end(); ?>