body{
	font-family: "Helvetica";
	background: none;
	padding: 0;
	margin: 0;
	width: 1900px;
}
#mashines.white{
	padding: 10px 26px;
	background: #ebebec;
}
#mashines.dark{
	padding: 18px 32px;
	background: #1c1c20;
}
h1{
	font-size: 43px;
	line-height: 48px;
	padding: 10px 0;
	border-bottom: 1px solid #ebebec;
}
.columns4 h1{
	font-size: 33px;
	line-height: 33px;
}
.dark h1{
	border-bottom: 1px solid #1c1c20;
}
.dark{
	color: #fff;
}
.sensor{
	padding: 7px;
}
.white .sensor > div{
	background: #fff;
}
.dark .sensor > div{
	background: #27282c;
}
.sensor .box-content{
	padding: 24px 15px 0px;
}
.sensor .box-footer{
	padding: 21px 15px;
	border-top: 1px solid #ebebec;
}
.dark .sensor .box-footer{
	border-top: 1px solid #1c1c20;
}
.sensor h1 span{
	width: 43px;
	height: 43px;
	border-radius: 22px;
	display: inline-block;
	position:relative;
	border: 7px solid;
	margin: 0 20px;
	top: 2px;
}
.sensor h1 span i{
	width: 15px;
	height: 15px;
	border-radius: 7px;
	display: inline-block;
	position: absolute;
	left: 0; 
    right: 0; 
    margin: 0 auto; 
    top: 7px;
}
.sensor.green h1 span i{
	background: #18a418;	
}
.sensor.red h1 span i{
	background: #df0404;	
}
.sensor.yellow h1 span i{
	background: #ffd800;	
}
.sensor.grey h1 span i{
	background: #b7b7b7;	
}
.sensor.green h1 span{
	border-color: #18a418;
}
.sensor.red h1 span{
	border-color: #df0404;
}
.sensor.yellow h1 span{
	border-color: #ffd800;
}
.sensor.grey h1 span{
	border-color: #b7b7b7;
}
.JSFiddle {
	position: absolute;
	top: 50%;
	left: 50%;
}
.chart_div{
	position: relative;
	left: -50%;
	top: -84px;
	font-size: 34px;
	text-align: center;
}
.col-xs-3 .chart_div{
	top: -60px;
}
.chart_div big{
	font-weight: bold;
	font-size: 50px;
	line-height: 78px;
}
.columns4 .chart_div big{
	font-size: 50px;	
}
.dark .chart_div{
	color: #fff;	
}
.rightContainer > div{
	margin: 0 auto;
}
.rightContainer .factors .exploitationIndicator > div{
	background: #517dfa;
	display:block;
	height: 15px;
}
.rightContainer .factors .operationalIndicator > div{
	background: #ff445a;
	display:block;
	height: 15px;
}
.rightContainer .factors .qualityIndicator > div{
	background: #fdff32;
	display:block;
	height: 15px;
}
.rightContainer .factors p{
	font-size: 16px;	
}
.rightContainer .factors .indicator{
	display:block;
	width: 100%;
	background: #666;
	margin-bottom: 6px;
}
.rightContainer .factors{
		
}
.rightContainer .graph{
	height: 190px;
}
.rightContainer{
	width: 255px; 
	height: 255px;
	position: relative;
	float: right;
}
.columns4 .graph{
	width: 200px; 
	height: 200px;
	position: relative;
	float: right;
}
br.clear{
	clear: both;
	line-height: 1px;
}
#leftSide{
	float: left;
	position: relative;
}
#leftSide .currentSpeed{
	font-size: 15px;
    left: 95px;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
    width: 110px;
}
#leftSide .speed{
	position: absolute;
	top: -53px;
	left: 0px;	
}
.box-content .prevShiftsOee{
	padding-left: 10px;	
}
.box-content .prevShiftsOee p{
	font-size: 15px;
}
.columns3 .box-content .prevShiftsOee p{
	font-size: 18px;
}
.columns4 .box-content #leftSide .currentSpeed {
    font-size: 14px;
    left: 50px;
    position: absolute;
    text-align: center;
    top: 60px;
    white-space: nowrap;
}
.columns4 .box-content #leftSide .speed{
	left: -43px;
	top: -28px;
}
.columns4 .box-content .mashineStatus{
	width: 205px;
	height: 120px;
	background-size: 1099px 100%;
	background-image: url(./../img/haas2-sprite-3c.png); 
	margin-top: 135px;
	margin-bottom: 40px;
	left: 30px;
}
.columns4 .rightContainer{
	width: 205px;
}
.columns4 .box-content .prevShiftsOee{
	padding-left: 0px;	
	position: absolute;
	bottom: 0;
}
.box-content .mashineStatus{
	width: 270px;
	height: 161px;
	background-image: url(./../img/haas2-sprite-3c.png); 
	background-repeat: no-repeat;
	background-position-x: -2000px; 
	display: block;
	margin-top: 80px;
	position: relative;
	left: 50px;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.sensor div.marquee{
	overflow: hidden;	
}
.sensor div.marquee p{
	float: left;
	width: 200%;
	text-align: right;
	font-size: 18px;
	color: #18a418;
	animation: marquee 15s linear infinite;
}
.sensor.red div.marquee p{
	color: #df0404;	
}
.sensor.yellow div.marquee p{
	color: #ffd800;	
}
.sensor.grey div.marquee p{
	color: #b7b7b7;	
}
/*.columns3 .sensor_8 .box-content .mashineStatus{
	background-image: url(./../img/haas-sprite-3c.png); 
}
.columns3 .sensor_3 .mashineStatus,
.columns3 .sensor_5 .mashineStatus,
.columns3 .sensor_9 .mashineStatus{
	background-image: url(./../img/haas2-sprite-3c.png); 
}*/
.mashineStatus.green{
	background-position-x: 0px; 
}
.mashineStatus.red{
	background-position-x: -282px; 
}
.mashineStatus.yellow{
	background-position-x: -560px; 
}
.mashineStatus.grey{
	background-position-x: -835px; 
}
/*.columns4 .sensor_8 .box-content .mashineStatus{
	background-image: url(./../img/haas-sprite-4c.png); 
}
.columns4 .sensor_3 .box-content .mashineStatus,
.columns4 .sensor_5 .box-content .mashineStatus,
.columns4 .sensor_9 .box-content .mashineStatus{
	background-image: url(./../img/haas2-sprite-4c.png); 
}*/
.columns4 .mashineStatus.red{
	background-position-x: -332px; 
}
.columns4 .mashineStatus.yellow{
	background-position-x: -620px; 
}
.columns4 .mashineStatus.grey{
	background-position-x: -895px; 
}
.columns4 .mashineStatus.green{
	background-position-x: -49px; 
}
.box-footer .footerStatus.green .textData:before{
	background: #18a418;	
}
.box-footer .footerStatus.red .textData:before{
	background: #df0404;	
}
.box-footer .footerStatus.yellow .textData:before{
	background: #ffd800;	
}
.box-footer .footerStatus.grey .textData:before{
	background: #b7b7b7;	
}
.box-footer .footerStatus .indicatorColor{
	
}
.box-footer .textData p.statusText{
	font-size: 22px;	
	line-height: 22px;
	margin-bottom: 	6px;
}
.box-footer .textData p.statusText{
	font-size: 15px;
	position: relative;
	left: -10px;	
}
.box-footer .textData p.statusPercent{
	font-size: 38px;	
	line-height: 34px;
	font-weight: bold;
}
.box-footer .textData:before{
	content: ' ';
	width: 16px;
	height: 43px;
	float: left;
	margin-right: 10px;	
	position: absolute;
	left: -8px;
	top: 20px;
}
.box-footer .textData{
	float: left;
	margin-right: 10px;
	text-transform: uppercase;
	padding-left: 10px;
	position:relative;
}
.columns2 .sensor .box-footer{
	padding: 40px 15px;	
	margin-top: 10px;	
}
.columns2 .box-footer .textData::before{
	height: 97px;	
	width: 30px;
}
.columns2 .box-footer .textData p.statusPercent{
	font-size: 55px;
	line-height: 70px;	
}
.columns2 .box-footer .textData p.statusText{
	font-size: 30px;	
}
.columns2 .box-footer .textData{
	padding-left: 50px;	
}
.columns2 div.marquee p{
	font-size: 25px;	
}
.columns2 .sensor .box-content{
	padding: 50px 0 0px;
}
.columns2 .rightContainer .factors .qualityIndicator > div,
.columns2 .rightContainer .factors .operationalIndicator > div,
.columns2 .rightContainer .factors .exploitationIndicator > div{
	height: 25px;
	margin: 10px 0;	
}
.columns2 .rightContainer .factors p{
	font-size: 27px;	
}
.columns2 .rightContainer .graph{
	height: 350px;	
}
.columns2 .factors{
	padding-top: 0px;	
}
.columns2 h1{
	font-size: 75px;
	line-height: 100px;
}
.columns2 .sensor h1 span i{
	top: 14px;
	width: 30px;
	height: 30px;
	border-radius: 15px;	
}
.columns2 .sensor h1 span{
	width: 80px;
	height: 80px;
	border-radius: 40px;	
	border-width: 10px;
}
#mashines.white.columns2 {
	padding: 20px 26px;	
}
.columns2 .rightContainer{
	width: 455px; 
	height: 545px;
}
.columns2 .chart_div {
	top: -156px;
}
.columns2 .chart_div big {
    font-size: 75px;
    line-height: 99px;
}
.columns2 .mashineStatus.grey{
	background-position-x: -1380px;	
}
.columns2 .mashineStatus.yellow{
	background-position-x: -930px;	
}
.columns2 .mashineStatus.red{
	background-position-x: -483px;	
}
.columns2 #leftSide canvas{
	top: -35px;	
}
.columns2 #leftSide .currentSpeed {
	font-size: 20px;
	left: 175px;
	top: 88px;
	width: 110px;
}
.columns2 .box-content .mashineStatus{
	background-size: 1800px 300px;
	width: 372px;
	height: 300px;
	top: 80px;
}
.columns2 .box-content .prevShiftsOee p{
	font-size: 27px;	
	line-height: 40px;
}
.columns2 .box-content .prevShiftsOee{
	position: relative;
	top: 75px;	
}