body{
	font-family: "Helvetica";
	background: none;
	padding: 0;
	margin: 0;
	width: 1900px;
}
#mashines.white{
	padding: 10px 26px;
	background: #ebebec;
}
#mashines.dark{
	padding: 18px 32px;
	background: #1c1c20;
}
h1{
	font-size: 48px;
	line-height: 48px;
	padding: 10px;
	border-bottom: 1px solid #ebebec;
}
.columns4 h1{
	font-size: 33px;
	line-height: 33px;
}
.dark h1{
	border-bottom: 1px solid #1c1c20;
}
.dark{
	color: #fff;
}
.sensor{
	padding: 7px;
}
.white .sensor > div{
	background: #fff;
}
.dark .sensor > div{
	background: #27282c;
}
.sensor .box-content{
	padding: 24px 15px;
}
.sensor .box-footer{
	padding: 21px 15px;
	border-top: 1px solid #ebebec;
}
.dark .sensor .box-footer{
	border-top: 1px solid #1c1c20;
}
.sensor h1 span{
	width: 43px;
	height: 43px;
	border-radius: 22px;
	display: inline-block;
	position:relative;
	border: 7px solid;
	margin: 0 20px;
	top: 2px;
}
.sensor h1 span i{
	width: 15px;
	height: 15px;
	border-radius: 7px;
	display: inline-block;
	position: absolute;
	left: 0; 
    right: 0; 
    margin: 0 auto; 
    top: 7px;
}
.sensor.green h1 span i{
	background: #18a418;	
}
.sensor.red h1 span i{
	background: #df0404;	
}
.sensor.yellow h1 span i{
	background: #ffd800;	
}
.sensor.grey h1 span i{
	background: #b7b7b7;	
}
.sensor.green h1 span{
	border-color: #18a418;
}
.sensor.red h1 span{
	border-color: #df0404;
}
.sensor.yellow h1 span{
	border-color: #ffd800;
}
.sensor.grey h1 span{
	border-color: #b7b7b7;
}
.JSFiddle {
	position: absolute;
	top: 50%;
	left: 50%;
}
.chart_div{
	position: relative;
	left: -50%;
	top: -84px;
	font-size: 34px;
	text-align: center;
}
.col-xs-3 .chart_div{
	top: -60px;
}
.chart_div big{
	font-weight: bold;
	font-size: 50px;
	line-height: 78px;
}
.columns4 .chart_div big{
	font-size: 50px;	
}
.dark .chart_div{
	color: #fff;	
}
.rightContainer > div{
	margin: 0 auto;
}
.rightContainer .factors .exploitationIndicator > div{
	background: #517dfa;
	display:block;
	height: 15px;
}
.rightContainer .factors .operationalIndicator > div{
	background: #ff445a;
	display:block;
	height: 15px;
}
.rightContainer .factors .qualityIndicator > div{
	background: #fdff32;
	display:block;
	height: 15px;
}
.rightContainer .factors p{
	font-size: 18px;	
}
.rightContainer .factors .indicator{
	display:block;
	width: 100%;
	background: #666;
	margin-bottom: 6px;
}
.rightContainer .factors{
		
}
.rightContainer .graph{
	height: 190px;
}
.rightContainer{
	width: 255px; 
	height: 255px;
	position: relative;
	float: right;
}
.columns4 .graph{
	width: 200px; 
	height: 200px;
	position: relative;
	float: right;
}
br.clear{
	clear: both;
	line-height: 1px;
}
#leftSide{
	float: left;
	position: relative;
}
#leftSide .currentSpeed{
	font-size: 15px;
    left: 95px;
    position: absolute;
    text-align: center;
    top: 63px;
    white-space: nowrap;
    width: 110px;
}
#leftSide .speed{
	position: absolute;
	top: -21px;
	left: 0px;	
}
.columns4 .box-content #leftSide .currentSpeed {
    font-size: 18px;
    left: 50px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
}
.columns4 .box-content #leftSide .speed{
	left: -43px;
	top: -40px;
}
.box-content .mashineStatus{
	width: 270px;
	height: 161px;
	background-image: url(./../img/mashines-v2.png); 
	background-repeat: no-repeat;
	background-position-x: -2000px; 
	display: block;
	top: 120px;
	position: absolute;
	left: 50px;
}
.mashineStatus.green{
	background-position-x: 0px; 
}
.mashineStatus.red{
	background-position-x: -282px; 
}
.mashineStatus.yellow{
	background-position-x: -560px; 
}
.mashineStatus.grey{
	background-position-x: -835px; 
}
.columns4 .box-content .mashineStatus{
	width: 205px;
	height: 120px;
	background-image: url(./../img/mashines-col4-v2.png); 
	top: 104px;
	left: 10px;
}
.columns4 .mashineStatus.red{
	background-position-x: -222px; 
}
.columns4 .mashineStatus.yellow{
	background-position-x: -431px; 
}
.columns4 .mashineStatus.grey{
	background-position-x: -650px; 
}
.box-footer .footerStatus.green .textData:before{
	background: #18a418;	
}
.box-footer .footerStatus.red .textData:before{
	background: #df0404;	
}
.box-footer .footerStatus.yellow .textData:before{
	background: #ffd800;	
}
.box-footer .footerStatus.grey .textData:before{
	background: #b7b7b7;	
}
.box-footer .footerStatus .indicatorColor{
	
}
.box-footer .textData p.statusText{
	font-size: 22px;	
	line-height: 22px;
	margin-bottom: 	6px;
}
.box-footer .textData p.statusText{
	font-size: 15px;	
}
.box-footer .textData p.statusPercent{
	font-size: 38px;	
	line-height: 34px;
	font-weight: bold;
}
.box-footer .textData:before{
	content: ' ';
	width: 16px;
	height: 63px;
	float: left;
	margin-right: 10px;	
	position: absolute;
	left: 0;
	top: 0;
}
.box-footer .textData{
	float: left;
	margin-right: 10px;
	text-transform: uppercase;
	padding-left: 28px;
	position:relative;
}

