<?php
$current_page = trim(urldecode($_GET['current_page']),'/');
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php }
if(preg_match('/.*dashboards\/inner.*/i',trim($current_page,'/'))){ ?>
    jQuery('.nav.nav-tabs').append('<li role="presentation"><a href="#vdReport" aria-controls="vdReport" role="tab" data-toggle="tab"><?php echo __('Gamybos ataskaita'); ?></a></li>');
    var vdForm = $('#one').clone();
    vdForm.find('form').attr('action', '/dashboards/generateMassXLS');
    vdForm.find('.view_angle').remove();
    jQuery('.tab-content').append('<div role="tabpanel" class="tab-pane" id="vdReport">'+vdForm.html()+'</div>');
<?php }; ?>