.work-center .timeline .tml-hours > div .tml-graph .tml-gitem.tml-gitem-red.problem-exclusion{
	background-color: #999 !important;
	border: 1px solid #999;
}
table.TimePagerNotExist{
	position: relative;
	top: -80px;
	width: 1057px;
}
