/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-v15-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('montserrat-v15-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v15-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v15-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v15-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v15-latin-ext_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('montserrat-v15-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('montserrat-v15-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v15-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v15-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v15-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v15-latin-ext_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('montserrat-v15-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('montserrat-v15-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v15-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v15-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v15-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v15-latin-ext_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('montserrat-v15-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('montserrat-v15-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v15-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v15-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v15-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v15-latin-ext_latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}