#container{
	margin: 0 auto; 
}
.sensorsGroup{
	border: 1px solid #666;
	margin-top: 20px;
}
.sensorsGroup > div{
	height: 350px;
}
.group_4_5 .sensorsGroup > div{
	height: 700px;
}
.groupHeader{
	text-align: center;
}

.logo{
	position: absolute;
	top: 0;
	left: 0;
}
.maintitle{
	font-size: 27px;
	height: 50px;
}
.sensorsGroup svg:nth-child(1) > text:nth-child(5) {
    font-size: 25px !important;
    font-weight: normal !important;
    fill: #444 !important;
}