<?php
$current_page = trim(urldecode($_GET['current_page']),'/');
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php } ?>
    //jQuery('span.iconfa-calendar').closest('li').find('ul.dropdown-menu').append('<li><a class="btn btn-rounded " href="" style="margin-right: 4px;"> <i class="iconsweets-link"></i> &nbsp; <?php echo __('Darbo centrų apkrautumas'); ?></a></li>');
    <?php
    if(preg_match('/.*dashboards\/inner$/i',trim($current_page,'/'))){ ?>
    jQuery('#attributesUsageForm div.submit').before('<div class="row"><div class="col-md-12"><div class="col-md-6"><label><?php echo __('FPY indeksas procentais'); ?></label><input type="text" name="data[fpy_index]" class="form-control input-small" /></div></div></div>');
<?php } ?>