<?php
$current_page = trim(urldecode($_GET['current_page']),'/'); 
if(!isset($current_page)) die();
if(false){ ?><script type="text/javascript"><?php } ?>
//jQuery('span.iconfa-calendar').closest('li').find('ul.dropdown-menu').append('<li><a class="btn btn-rounded " href="" style="margin-right: 4px;"> <i class="iconsweets-link"></i> &nbsp; <?php echo __('Darbo centrų apkrautumas'); ?></a></li>');
<?php
if(preg_match('/.*plans$/i',trim($current_page,'/'))){ ?>
	jQuery('#reloadPage').parent().prepend('<form method="post" style="float:left;" action="<?php echo Router::url(array('plugin'=>false,'controller'=>'plans','action'=>'index'), true); ?>"><input type="submit" name="start_planing" class="btn btn-default" value="<?php echo __('Suplanuoti'); ?>" />');
<?php } 
if(!trim($current_page)){ ?>
    var sensorsList = <?php echo $sensorsList; ?>;
	jQuery('#activeWorkCentersListTable tbody tr').each(function(){
	    var sensorId = $(this).attr('sensor_id');
	    if(parseInt(sensorsList[sensorId]['prev_qty_records_to_start_order']) > 0){
	        var linkText = '<?php echo __('Įjungti gamybos inicijavimą'); ?>';
	        $(this).addClass('disabled_order_start');
	    }else{
	        var linkText = '<?php echo __('Išjungti gamybos inicijavimą'); ?>';
	    }
	    
	    $(this).find('td:last-child').append('<br /><a class="" href="<?php echo Router::url(array('plugin'=>'histeel','controller'=>'plugins','action'=>'disable_order_start')); ?>/'+sensorId+'"><span class="iconfa-lock"></span> '+linkText+'</a>');
	});
<?php } ?>