p{
	margin: 0;
	line-height: 20px;
	font-size: 12px;
}
table{
	width: 100%;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
table td{
	text-align: center;
	vertical-align: top;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}
body{
	padding: 5px;
	font-family: "Times New Roman";
	font-size: 10px;
	max-width: 500px;
}
.rotate{
	writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: left;
    float: left;
}
h1{
	font-size: 50px;
	font-weight: bold;
	padding-right: 0px;
	margin: 0;
}
h2{
	font-weight: bold;
	font-size: 39px;
	margin: 0;
}
h3{
	font-weight: bold;
	font-size: 42px;
	margin: 0;
}
#popupContainer button,
#popupContainer p{
	font-size: 22px;
}
.ui-dialog-titlebar-close,
.ui-dialog-buttonpane{
	display: none;
}
input[type="number"]{
	font-size: 22px;
}
@media print {
	#popupContainer,
	.ui-dialog{
		display: none !important;
	}
	body{
		margin-top: 0px;
		padding-top: 0px;
	}
	@page  {
		margin: 0 !important;
	}
}