body{
	background: #03d0ff;
	min-width: 700px;
}
#headerPart{
	height: 151px;
	background-image: url('./img/vici_header.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:right;
	width: 100%;
	border-bottom: 10px solid #214080;
	background-color: #fff;
}
h1{
	font-size: 80px;
	line-height: 80px;
	text-transform: uppercase;
	color: #214080;
	margin: 0;
	font-weight: bold;
	padding-left: 25px;
}
#headerPart p{
	font-size: 30px;
	color: #214080;
	text-align: center;	
	padding-top: 5px;
	font-weight: bold;
}
#workCenter{
	padding: 0 18px;
}
#periodsBlock{
	background: #e5e5e5;
	padding: 0px 36px 15px 36px;
	border: 8px solid #214080;
	border-radius: 35px;
	position: relative;
	top: -10px;
}
#periodsBlock .legends div span{
	display: none;	
}
#periodsBlock div.hours:first-child .legends span{
	display: block;	
}
#periodsBlock div.hours .legends{
	padding: 9px 0 9px 8.33%;
	position: relative;	
}
#periodsBlock .legends div.hourLegend{
	display: inline-block;
	width: 8.33%;
	font-size: 13px;
	line-height: 13px;
	height: 20px;
	color: #5e5f63;
	border-left: 2px solid #cbcbcb;
	padding-left: 4px;
}
#periodsBlock .legends div.hourLegend:last-child{
	width: 0;
	position: absolute;
	right: -4px;
}
br.clear{
	clear: both;
	font-size: 1px;
	border: 0;
}
#periodsBlock .hours .hour div.interval.type-production_speed_low{
	background: #7ed925;
}
#periodsBlock .hours .hour div.interval.type-production_speed_good{
	background: #5AB65A;
}
#periodsBlock .hours .hour div.interval.type-1{
	background: #019519;
}
#periodsBlock .hours .hour div.interval.type-8,
#periodsBlock .hours .hour div.interval.type-9,
#periodsBlock .hours .hour div.interval.type-4,
#periodsBlock .hours .hour div.interval.type-2{
	background: #d91505;
}
#periodsBlock .hours .hour div.interval.type-7{
	background: #82c400;
}
#periodsBlock .hours .hour div.interval.type-3{
	background: #ffc300;
}
#periodsBlock .hours .hour div.interval.type-0{
	background: #999999;
}

#periodsBlock .hours .hour div.interval{
	position: absolute;
}
#periodsBlock .hours .hour,
#periodsBlock .hours .hour div{
	height: 44px;
}
#periodsBlock .hours .hour > div{
	float: left;
	position: relative;
}
#periodsBlock .hours .intervalsContainer div.interval:last-child{
	border-radius: 0 22px 22px 0;	
}
#periodsBlock .hours .intervalsContainer{
	width: 91.67%;	
}
#periodsBlock .hours .hourTitle{
	color: #fff;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	width: 8.33%;
	border-radius: 22px 0 0 22px;
	background: #4a4e57;
}
#periodsColorsLegends div{
	margin-top: 30px;	
	border: 10px solid #214080;
	border-radius: 35px;
	width: 100%;
}
#periodsColorsLegends table{
	border-radius: 25px;
	border-collapse: collapse;
	overflow: hidden;
	width: 100%;
}
#periodsColorsLegends table td.changeover{
	background: #ffc300;	
}
#periodsColorsLegends table td.downtime{
	background: #d91505;
}
#periodsColorsLegends table td.slowSpeed{
	background: #82c400;
}
#periodsColorsLegends table td.goodSpeed{
	background: #019519;
}
#periodsColorsLegends table td{
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 32px;
	padding: 23px 0 23px 0;
	vertical-align: middle;
	width: 25%;
}
#speedBlock{
	border: 10px solid #214080;
	border-radius: 35px;
	/*min-width: 661px;*/
	background: #e5e5e5;
}
#speedStatus .speed{
	width: 100%;
	text-align:center;
	font-size: 36px;
	color: #fff;
	position: absolute;
	width: 100%;
	bottom: 53px;
}
#speedStatus{
	/*width: 600px;*/
	height: 270px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	position: relative;
}
#speedStatus.arrow1{
	background-image: url('./img/speed1.png');
}
#speedStatus.arrow2{
	background-image: url('./img/speed2.png');
}
#speedStatus.arrow3{
	background-image: url('./img/speed3.png');
}
#speedStatus.arrow4{
	background-image: url('./img/speed4.png');
}
#plansBlock li.activePlan{
	border: 6px solid #f5d058;	
}
#plansBlock li{
	font-size: 74px;
	line-height: 102px;
	height: 102px;
	overflow: hidden;
	color: #474b52;
	border: 6px solid #474b52;
	border-radius: 12px;
	margin-bottom: 18px;
}
#plansBlock{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#oeeBlock p{
	font-size: 74px;
	line-height: 90px;
	margin: 0;
	color: #474b52;
}
#oeeBlock .face{
	min-height: 286px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;	
}
#oeeBlock .face.bad{
	background-image: url('./img/face2.png');
}
#oeeBlock .face.good{
	background-image: url('./img/face3.png');
}
#oeeBlock .face.perfect{
	background-image: url('./img/face1.png');
}
#oeeBlock > div{
	border: 10px solid #214080;
	border-radius: 35px;
	background: #e5e5e5;
	text-align: center;
	padding: 55px 0 20px 0;
}
#goalBlock p{
	font-size: 74px;
	line-height: 64px;
	margin: 0;
	color: #474b52;
}
#goalBlock label{
	clear: left;
	float: left;
	font-size: 34px;
	color: #474b52;
	width: 10%;
	font-weight: normal;
	padding-top: 7px;
	text-align: right;
	padding-right: 5px;
}
#goalBlock .shiftHour{
	margin-top: 7px;
}
#goalBlock .shiftHour > div.hourRectangle{
	height: 36px;
	border: 5px solid #4144c9;
	border-radius: 11px;  
	float: left;
	width: 60%;
	background: #4144c9;
	position: relative;
}
#goalBlock .shiftHour > div.future{
	background: #8cfffa;
}
#goalBlock .shiftHour > div.current{
	background: #f40000;
}
#goalBlock div.factWeight{
	background-image: url('./img/big_arrow.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;	
	width: 45%;
	height: 138px;
	text-align: center;
	color: #000;
	font-size: 43px;
	line-height: 138px;
	position: absolute;
	right: -50%;
	top: -59px;
	white-space: nowrap;
}
#goalBlock p.weightGoal{
	font-size: 43px;
	line-height: 45px;
}
#goalBlock{
	border: 10px solid #214080;
	border-radius: 35px;
	background: #e5e5e5;
	text-align: center;
	padding: 3px 0 3px 0;
}
@media only screen and (max-width: 1446px) {
	#speedStatus .speed{
		bottom: 65px;
		font-size: 28px;
	}
	#goalBlock div.factWeight{
		font-size: 30px;
	}
}
@media only screen and (max-width: 1200px) {
	#speedStatus{
		width: 600px;
	}
	#speedStatus .speed{
		bottom: 53px;
		font-size: 33px;
	}
	#goalBlock div.factWeight{
		font-size: 43px;
	}
}

