@media screen and (max-width: 1920px) {
    form.transferFrom input[type="text"]{
        font-size: 32px;
        padding: 0 20px;
        height: 70px;
    }
    form.transferFrom input[type="submit"].btn{
        font-size: 32px;
        padding: 0 20px;
    }
    form.transferFrom h3{
        font-size: 35px;
    }
}