.grid_tml-container .marker{
    position: absolute;
    z-index: 3;
    top: -10px;
    width: 30px;
    height: 30px;
}

.grid_tml-container .marker.reservation{
    background: url('./../files/red_revise.png') 100% 100% no-repeat;
}
.grid_tml-container .marker.confirmation{
    background: url('./../files/blue_revise.png') 100% 100% no-repeat;
}