/* ----------------------------------- */
/* tml regular colors */

.tml-gitem-maroon {
    background-color: #7d0000;
    color: white;
}

.tml-gitem-red {
    background-color: #CC3333;
    color: white;
}

.tml-gitem-orange {
    background-color: #FFA500;
    color: black;
}

.tml-gitem-yellow {
    background-color: #fbdb0e;
    color: black;
}

.tml-gitem-green{
    background-color: #009966;
    color: white;
}

.tml-gitem-blue {
    background-color: #0066CC;
    color: white;
}

.tml-gitem-gray {
    background-color: #999999;
    color: black;
}

.tml-gitem-white{
    background-color: #DDD;
    color: black;
}

.tml-gitem-black { /* unknown color */
    background-color: #000000;
    color: white;
}

/* ----------------------------------- */
/* tml special colors */

.tml-gitem-red_grid {
    color: white;
    background: #D64D49;
    
    background-size: 6px 6px;
    background-image: 
        linear-gradient(to right,  #A44 1px, transparent 1px), 
        linear-gradient(to bottom, #A44 1px, transparent 1px);
}

.tml-gitem-production_speed_good {
    background-color: #009966;
    color: white;
}

.tml-gitem-planedtime {
    background-color: #17A886;
    color: black;
}
.tml-gitem-production_speed_low {
    background-color: #66CC66;
    color: black;
}

.tml-gitem-sys_error {
    background-color: #0066CC;
    color: white;
}

.tml-gitem-exceeded_transition {
    background-color: #FFA500;
    color: black;
}

.tml-gitem-problem_exclusion {
    background-color: #999999;
    color: black;
}

/* ----------------------------------- */
/* tml problem colors */

/* all problems = red */
/* .tml-gitem[class*="problemid_"]:not(.problemid_null) { 
    background-color: #CC3333 !important;
    color: white; 
} */

.tml-gitem.problemid_2 { /* problem_2 - no work - grey */
    background-color: #999999 !important;
    color: black;
}

/* ----------------------------------- */

.tml-gitem{
    cursor: pointer;
}

.tml-gitem:hover {
    box-shadow: 0px 0px 3px #000000;
    z-index: 2;
}

/* ----------------------------------- */