.bg-green { background: #009966; }
.bg-orange { background: #ff9933; }
.bg-yellow { background: #fbcc0e; } 
.bg-red { background: #cc3333; }
.bg-teal { background: #3399cc; }
.bg-gray, .bg-grey { background: #5d5d5d; }
.bg-light-gray, .bg-light-grey { background: #706f6f; }
.bg-violet { background: #660066; }
.bg-blue { background: #330099; }
.bg-light { background: #CCCCCC; }

.f-10{flex: 1.0; }
.f-9{ flex: 0.9; }
.f-8{ flex: 0.8; }
.f-7{ flex: 0.7; }
.f-6{ flex: 0.6; }
.f-5{ flex: 0.5; }
.f-4{ flex: 0.4; }
.f-3{ flex: 0.3; }
.f-2{ flex: 0.2; }
.f-1{ flex: 0.1; }
.f-0{ flex: 0.0; }

.z-0{ z-index: 0; }
.z-1{ z-index: 1; }
.z-2{ z-index: 2; }
.z-3{ z-index: 3; }

.h-1-em { height: 1em; }
.h-2-em { height: 2em; }
.h-3-em { height: 3em; }
.h-4-em { height: 4em; }
.h-5-em { height: 5em; }

.h-1-rem { height: 1rem; }
.h-2-rem { height: 2rem; }
.h-3-rem { height: 3rem; }
.h-4-rem { height: 4rem; }
.h-5-rem { height: 5rem; }

.w-1-em { width: 1em; }
.w-2-em { width: 2em; }
.w-3-em { width: 3em; }
.w-4-em { width: 4em; }
.w-5-em { width: 5em; }

.w-1-rem { width: 1rem; }
.w-2-rem { width: 2rem; }
.w-3-rem { width: 3rem; }
.w-4-rem { width: 4rem; }
.w-5-rem { width: 5rem; }

.fs-6{ font-size: 1.00rem; } 
.fs-7{ font-size: 0.75rem; } 
.fs-8{ font-size: 0.60rem; } 
.fs-9{ font-size: 0.50rem; } 

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

.gap-sm{ gap: 2px; }
.gap-md{ gap: 4px; }

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.invert{ filter: invert(100%); }
.pointer{ cursor: pointer; }

.ms-0{
    min-width: 0px;
    min-height: 0px;
}