/* ----------------------------------- */
/* variables */

:root {
    --bg-main-color: #EDEDED;
    --bg-light-color: #CCCCCC;
    --bg-dark-color: #5D5D5D;

    --text-light-color: #666666;
    --text-dark-color: #333333;
    --text-black-color: rgba(0,0,0,0.7);
}

/* ----------------------------------- */
/* variable classes */

.oee-bg-main{ background-color: var(--bg-main-color); }
.oee-bg-light{ background-color: var(--bg-light-color); } /* table header color */
.oee-bg-dark{ background-color: var(--bg-dark-color); } /* main button color */

.oee-font-montserrat { font-family: 'Montserrat', sans-serif; }
.oee-font-varela { font-family: 'Varela Round', sans-serif; }
.oee-font-calibri { font-family: 'Calibri';  }

.oee-text-light { color: var(--text-light-color); }
.oee-text-dark { color: var(--text-dark-color); }
.oee-text-black { color: var(--text-black-color); }

/* ----------------------------------- */
/* debug */
@media (min-width:    0px) { #responsive{ background: purple; } } /* xs  */
@media (min-width:  576px) { #responsive{ background: indigo; } } /* sm  */
@media (min-width:  768px) { #responsive{ background: blue;   } } /* md  */
@media (min-width:  992px) { #responsive{ background: green;  } } /* lg  */
@media (min-width: 1200px) { #responsive{ background: lime;   } } /* xl  */
@media (min-width: 1600px) { #responsive{ background: yellow  } } /* HD+ */
@media (min-width: 1920px) { #responsive{ background: orange; } } /* FHD */
@media (min-width: 2560px) { #responsive{ background: red;    } } /* QHD */
@media (min-width: 3840px) { #responsive{ background: maroon; } } /* 4K  */

/* font-sizing */
@media (min-width:    0px) {html{ font-size: 12px; } } /* sm */
@media (min-width:  576px) {html{ font-size: 12px; } } /* sm */
@media (min-width:  768px) {html{ font-size: 12px; } } /* md */
@media (min-width:  992px) {html{ font-size: 14px; } } /* lg */
@media (min-width: 1200px) {html{ font-size: 15px; } } /* xl */
@media (min-width: 1600px) {html{ font-size: 16px; } } /* HD+ */
@media (min-width: 1920px) {html{ font-size: 18px; } } /* FHD */
/* @media (min-width: 2560px) {html{ font-size: 32px; } } 	
@media (min-width: 3840px) {html{ font-size: 48px; } }   */

/* ----------------------------------- */
/* general CSS */

@media print {
    body {
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-print-color-adjust */
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

body{
    background-color: var(--bg-main-color);
}

main{ 
    background-color: var(--bg-main-color);
    font-family: Calibri; 
    margin: auto;
    max-width: 3000px;
}

.oee-center{ /* deprecated */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* ----------------------------------- */
/* edge cases */

#tml-drawer-metrics #tml-metric-body{
    font-size: 0.9em !important;
}

tr.warning-for-blind td {
	background-color: #fbdb0e !important;
	font-weight: bold;
}

.transition{ border-color: #fbcc0e !important; }
.upper-section-h{ height: max(80px 12vh); }

.oee-minute-lines > div{
    width: 9.09%; /* 10/11 */
    border-right: 1px dotted #B2B2B2;
    border-left: 1px dotted #B2B2B2;
}

.oee-minute-lines > div:last-child{ border-right: 0px; }
.oee-minute-lines > div:first-child{ border-left: 0px; }


#toolbar-btns > * {
    max-height: calc(50% - 4px);
    padding: 0.5em !important;
}

footer th { background-color: var(--bg-light-color); }
footer td, footer th { padding: 4px; border: 3px solid var(--bg-main-color); };
footer table { border-collapse: collapse; }


#shift-metric-table { border-collapse: collapse; }
#shift-metric-table td, #shift-metric-table th { 
    padding: 2px;
    border: 2px 
    solid var(--bg-main-color); 
    background-color: white;
    text-align: center;
}


/* ----------------------------------- */
/* root CSS fixes */

button{
    color: inherit !important;
    font-weight: inherit !important;
}


a, a:focus, a:hover, a:link, a:active, a:hover, a:focus, a:visited {
    color: inherit;
    text-decoration: inherit;
}

/* remove outer borders*/
tr:first-child td { border-top: 0 !important; }
tr td:first-child { border-left: 0 !important; }
tr:last-child td  { border-bottom: 0 !important; }
tr td:last-child  { border-right: 0 !important; }

tr:first-child th { border-top: 0 !important; }
tr th:first-child { border-left: 0 !important; }
tr th:last-child  { border-right: 0 !important; }
/* tr:last-child th  { border-bottom: 0 !important; } */

/* ----------------------------------- */
/* Bootstrap Fixes */

.modal-content .modal-footer button+button{
    margin-bottom: 0px !important;
}

.modal{
    background: rgba(0,0,0,0.25) !important;
    padding: 0px !important;
}

.modal-dialog{
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-check-input{
    border: none;
    box-shadow: none !important;
}

.form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-select{
    font-size: 1em;
}
.form-select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.popover{
    max-width: 400px !important;
}

*:not(.spinner-border):not(.form-switch):not(.form-check-input):not(.dtp-select-day):not(.marker){
    border-radius: 0px !important;
}

.modal-dialog{
    max-width: 512px !important; 
}

.modal-dialog.widen-modal{
    max-width: 932px !important;
}

.dtp:not(.hidden){
    overflow: auto !important;
    display: flex !important;
    height: 100vh;
}

.dtp-content{
    top: 0px !important;
    margin: auto auto !important;
    max-width: none !important;
    display: inline-block !important;
    width: 300px;
}

@media (max-height: 500px){
    /* change layout */
    .dtp-content{
        width: auto;
        zoom: 0.8;
    }

    .dtp-date-view{
        display: grid;
        grid-template-columns: 180px 250px;
        grid-template-rows: 30px max-content min-content;
    }

    .dtp-buttons{
        margin-top: auto;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .dtp-header{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .dtp-date{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .dtp-picker{
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        padding: 0.25em !important;
    }

    /* change buttons */
    .dtp-buttons{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .dtp-buttons > button{
        width: 100% !important;
        color: white !important;
        margin-top: 1em !important;
        padding: 1em !important;
        background-color: #8BC34A !important;
    }
}




/* ----------------------------------- */
/* Button */

.oee-btn{
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform .1s;
    flex: 1;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.oee-btn:hover, .oee-btn:focus{
    outline: inherit;
    filter: brightness(95%);
    /* zoom: 1.1; */
    /* transform: scale(1.01); */
}

/* ----------------------------------- */
/* marquee */

.marquee{
    white-space: nowrap;
    overflow: hidden;
}

.marquee > .marquee-text-container{
    display: inline-block;
    position: relative;
    left: 100%;

    animation-name: slide-container;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee > .marquee-text-container > .marquee-text {
    position: relative;
    left: 0%;

    animation-name: slide-text;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide-container {
    from { left: 100%; }
    to { left: 0%; }
}

@keyframes slide-text {
    from { left: 0%; }
    to { left: -100%; }
}

/* ----------------------------------- */
/* custom side modals */    

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    overflow-y: auto;
    position: fixed;
    transform: none;

    height: 100%;
    margin: 0px;
    border: none;
    width: min(300px, 100%);
    opacity: 1 !important;
}

.modal.left .modal-content, .modal.right .modal-content{
    border: none;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -300px;
    transition: opacity 0.1s linear, left 0.5s ease-out;
}

.modal.left.fade.show .modal-dialog{
    left: 0px;
}
        
/*Right*/
.modal.right.fade .modal-dialog {
    right: -300px;
    transition: opacity 0.1s linear, right 0.5s ease-out;
}
	
.modal.right.fade.show .modal-dialog {
    right: 0px;
}

/* .modal-open{
    padding-right: 0px !important;
} */
/* ----------------------------------- */
