/* -------------------------------------------- */

:root{
    --col-1: calc(100%/12*1);
    --col-2: calc(100%/12*2);
    --col-3: calc(100%/12*3);
    --col-4: calc(100%/12*4);
}

.grid_layout{
    display: grid;
    grid-template-columns: var(--col-1) auto var(--col-1) var(--col-2) var(--col-2) min-content;
    grid-template-rows: minmax(98px, 12vh) minmax(51vh, auto);
    gap: 0.5em;
}

.grid_layout  * {
    min-width: 0;
    min-height: 0;
}

main .row > *{
    border: 0.25rem solid var(--bg-main-color);
}

main .row {
    border-left: 0.25rem solid var(--bg-main-color);
    border-right: 0.25rem solid var(--bg-main-color);
}

main .row:first-of-type {
    border-top: 0.25rem solid var(--bg-main-color);
}

main .row:last-of-type {
    border-bottom: 0.25rem solid var(--bg-main-color);
}

/* -------------------------------------------- */

.header_menu_btn { display: none; }
.grid_tb-drawer-btn { display: none; }
#tml-drawer { display: none; }

/* -------------------------------------------- */
/* >= lg */
@media (max-width: 992px) {
    .grid_graph { display: none; }
    .grid_tb-menu { display: none !important; }
    .grid_extra{ display: none !important; }

    .grid_tb-drawer-btn { display: block; }
    .grid_tb-modal-btn { display: none; }

    .header_title { display: none; }
    .header_btns { display: none !important;  }
    .header_menu_btn { display: block; }

    .popover{ display: none !important;}
    .upper-section-h{ max-height: 80px; }

    /* center modal */
    .modal.show{ display: flex !important; }
    .modal.show > * { margin: auto auto; }
}

/* -------------------------------------------- */
/* >= md */
@media (max-width: 768px) { 
    .grid_graph { display: none; }
    .grid_tml-metrics { display: none !important; }
    .upper-section-h{ max-height: 86px; }
    #tml-drawer { display: block; }
}

/* -------------------------------------------- */
/* >= sm */
@media (max-width: 576px) { 
    .grid_graph { display: none; }
    .grid_speedometer { display: none; }
    .problem-buttons > * { flex: 0 100% !important; }
}
/* -------------------------------------------- */

@media print{
    /* larger font */
    .upper-section-h .fs-8 { font-size: 10px !important; }
    .upper-section-h .fs-7 { font-size: 12px !important; }
    .upper-section-h .fs-6 { font-size: 14px !important; }
    .upper-section-h .fs-4 { font-size: 28px !important; }
    header.fs-5 { font-size: 24px !important; }

    /* remove toolbar button and menu */
    .grid_tb-drawer-btn { display: none; }
    .grid_tb-modal-btn { display: none; }
    .grid_graph{ width: calc( 100%/12*5); }

    /* remove drawers and modals */
    .modal, .modal-backdrop{ display: none !important; }
    #tml-drawer{ display: none !important; }
}

@media print and (max-width: 992px) {
    .grid_speedometer { width: calc( 100%/12*4); }
}

@media print and (max-width: 768px) { 
    .grid_shift-metrics { width: calc( 100%/12*4); }
    .grid_speedometer { width: calc( 100%/12*3); }
}

@media print and (max-width: 576px) { 
    .grid_units{ width: 100%; }
    .grid_shift-metrics { width: calc( 100%/12*6); }
}