/* varela-round-regular - latin-ext_latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url('varela-round-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('varela-round-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('varela-round-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('varela-round-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('varela-round-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('varela-round-v13-latin-ext_latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}